.registerPage {
  background: white;
  .logo {
    margin:0 auto 10px;
    width: 150px;
    display: block;
    img {
      width:100%;
    }
  }
  section {
    .register {
      width: 460px;
    }
    margin-top:20px;
    hgroup {
      text-align: center;
    }
    h3 {
      margin-top: 5px;
    }
  }
  .index-padding {
    padding: 0 8px;
  }
  .text-content {
    padding: 15px 10px 0;
  }
}

// MediaQ

@media (max-width: $layout-breakpoint-xs - 1) {
  .registerPage {
    section {
      .register {
        width: 100%;
      }
    }
    .logo {
      width: 120px;
    }
  }
}