<div class="registerPage" layout="row" layout-align="center start" layout-fill layout-wrap>
    <section flex-xs="80" flex="">
        <hgroup>
            <a class="logo" ui-sref="welcome">
                <img src="img/prism-blue.svg" alt="PRiSM">
            </a>
        </hgroup>
        <div layout-xs="column" layout-gt-xs="row" layout-align="space-around start" flex="">
            <div class="register">
                <h3 class="text-aline-center">Register</h3>
                <div class="social-login" layout="row" layout-align="center">
                    <md-button  flex="50" ng-click="onAuth({provider: 'linkedin'})" class="md-raised linkedin">
                        <i class="icon-social-linkedin"></i> linkedin
                    </md-button>
                    <md-button  flex="50" ng-click="onAuth({provider: 'facebook'})" class="md-raised facebook">
                        <i class="icon-social-facebook"></i> facebook
                    </md-button>
                </div>
                <div class="divider-or"><span>OR</span></div>
                <ng-form novalidate name="registerForm" ng-submit="$ctrl.submit(registerForm)">
                    <div layout-gt-xs="row" class="index-padding">
                        <md-input-container class="md-block" flex-gt-xs>
                            <input placeholder="Email" name="email" ng-model="$ctrl.activity.user.email" required type="email" ng-pattern="/^.+@.+\..+$/" >
                            <div ng-messages="registerForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'pattern']">
                                    Your email must look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" class="index-padding">
                        <md-input-container class="md-block" flex-gt-xs>
                            <input placeholder="Name" name="firstName" ng-model="$ctrl.activity.user.firstName" required>
                            <div ng-messages="registerForm.firstName.$error" role="alert">
                                <div ng-messages-include="my-custom-messages"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" class="index-padding">
                        <md-input-container class="md-block" flex-gt-xs>
                            <input placeholder="Surname" name="lastName" ng-model="$ctrl.activity.user.lastName" required>
                            <div ng-messages="registerForm.lastName.$error" role="alert">
                                <div ng-messages-include="my-custom-messages"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" class="index-padding">
                        <md-input-container class="md-block" flex-gt-xs>
                            <input placeholder="Password" name="password" ng-model="$ctrl.activity.user.password" required minlength="8" md-maxlength="15" type="password">
                            <div ng-messages="registerForm.password.$error" role="alert">
                                <div ng-messages-include="my-custom-messages"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--<div>-->
                    <!--<md-input-container>-->
                    <!--<label>Captcha</label>-->
                    <!--<div vc-recaptcha name="captcha"-->
                    <!--ng-model="$ctrl.activity.captchaResponse"-->
                    <!--key="'6LeUOSITAAAAAIO5MI65cRKwwk7NKIroHuIrbRlS'"-->
                    <!--aa-val-msg required></div>-->
                    <!--<div ng-messages="registerForm.captcha.$error" role="alert">-->
                    <!--<div ng-message="required">You need to prove you're not a robot</div>-->
                    <!--</div>-->
                    <!--</md-input-container>-->
                    <!--</div>-->
                    <div layout="row" >
                        <md-button  flex="100" class="md-warn md-raised" ng-click="$ctrl.submit(registerForm)">Submit</md-button>
                    </div>
                </ng-form>
            </div>
        </div>
    </section>
</div>
