<div class="social-login  md-button-group" layout="row" layout-align="center">
    <md-button  ng-click="$ctrl.oauth('linkedin')" class="md-raised linkedin">
        <i class="icon-social-linkedin"></i> linkedin
    </md-button>
    <md-button  ng-click="$ctrl.oauth('facebook')" class="md-raised facebook">
        <i class="icon-social-facebook"></i> facebook
    </md-button>
</div>
<div class="divider-or"><span>OR</span></div>
<form novalidate name="registerForm" ng-submit="$ctrl.submit(registerForm)">
    <div class="index-padding">
        <md-input-container class="md-block">
            <input placeholder="Email" name="username" ng-model="$ctrl.user.username" required type="email">
            <div ng-messages="registerForm.username.$error" role="alert">
                <div ng-message-exp="['required', 'email']">
                    Your email must look like an e-mail address.
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <input placeholder="Name" name="firstName" ng-model="$ctrl.user.firstName" required>
            <div ng-messages="registerForm.firstName.$error" role="alert">
                <div ng-messages-include="my-custom-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <input placeholder="Surname" name="lastName" ng-model="$ctrl.user.lastName" required>
            <div ng-messages="registerForm.lastName.$error" role="alert">
                <div ng-messages-include="my-custom-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <input placeholder="Password" name="password" ng-model="$ctrl.user.password" required minlength="8" md-maxlength="15" type="password">
            <div ng-messages="registerForm.password.$error" role="alert">
                <div ng-messages-include="my-custom-messages"></div>
            </div>
        </md-input-container>
    </div>
    <!--<div>-->
    <!--<md-input-container>-->
    <!--<label>Captcha</label>-->
    <!--<div vc-recaptcha name="captcha"-->
    <!--ng-model="$ctrl.activity.captchaResponse"-->
    <!--key="'6LeUOSITAAAAAIO5MI65cRKwwk7NKIroHuIrbRlS'"-->
    <!--aa-val-msg required></div>-->
    <!--<div ng-messages="registerForm.captcha.$error" role="alert">-->
    <!--<div ng-message="required">You need to prove you're not a robot</div>-->
    <!--</div>-->
    <!--</md-input-container>-->
    <!--</div>-->
    <div class="md-button-group">
        <md-button class="md-warn md-raised" type="submit">Submit</md-button>
    </div>
</form>
