<div layout-padding>
    <h3>Provide your {{'create.organization.lc-type.' + $ctrl.type | translate}} summary, locations and industries
        areas </h3>
    <md-input-container class="md-block">
        <label class="md-no-float">Summary</label>
        <textarea ng-model="$ctrl.organization.summary" md-maxlength="140" rows="2" required></textarea>
    </md-input-container>
    <div class="locations">
        <place-autocomplete ng-model="$ctrl.organization.locations" name="foundAddress"
                            placeholder="{{'create.organization.address-lookup.autocomplete-placeholder.' + $ctrl.type | translate}}"
                            required>
        </place-autocomplete>
    </div>

    <md-input-container class="md-block">
        <label class="md-no-float">Industry Areas</label>
        <md-chips ng-model="$ctrl.organization.tags"
                  md-transform-chip="$ctrl.transformTag($chip)">
            <md-autocomplete
                    md-search-text="searchText"
                    md-items="item in $ctrl.lookupTags(searchText)"
                    md-item-text="item.name"
                    placeholder="Find a tag or add a new one">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                {{$chip.tag.name}}
            </md-chip-template>
        </md-chips>
    </md-input-container>
</div>
