<div class="page-wrap step-page child" ng-class="{'with-preview' : $ctrl.organization.organization}">
    <div class="preview {{typeLower}}" ng-if="$ctrl.organization.organization">
        <label>Preview</label>
        <organization-preview-box organization="$ctrl.organization"></organization-preview-box>
        <div ng-if="$ctrl.organization.id" layout="row" layout-align="center end">
            <div class="preview-navigation" flex-gt-sm="75">
                <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.stepIdx">
                    <md-tab label="{{step.title}}" ui-sref="{{typeLower}}.{{step.id}}" ng-repeat="step in $ctrl.createSteps">

                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
    <form novalidate name="organizationForm" ng-submit="$ctrl.next(organizationForm)">
        <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center start" class="wizard-holder-padding">
            <md-card flex="100" flex-gt-sm="75" class="single-block" layout="column" layout-align="center stretch">
                <div class="step-wizard">
                    <div ui-view class="fade-animation"></div>
                </div>
                <md-card-actions class="action-block" layout="row" layout-align="space-between none">
                    <md-button class="md-raised md-button md-ink-ripple big" ng-click="$ctrl.prev()"
                               ng-disabled="$ctrl.loading">
                        Back
                    </md-button>
                    <md-button type="submit" class="md-primary md-raised big"
                               ng-disabled="$ctrl.loading || organizationForm.$invalid">
                        {{$ctrl.nextStep ? 'Continue' : 'Finish'}}
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>

    </form>
</div>
