<div layout-padding>
    <h3>Provide your {{'create.organization.lc-type.' + $ctrl.type | translate}} summary, locations and industries
        areas </h3>
    <md-input-container class="md-block">
        <label class="md-no-float">Strapline</label>
        <textarea ng-model="$ctrl.organization.summary" md-maxlength="140" rows="2" required></textarea>
    </md-input-container>
    <div class="locations">
        <label class="standalone-label">Locations </label>
        <place-autocomplete ng-model="$ctrl.organization.locations" name="foundAddress"
                            placeholder="{{'create.organization.address-lookup.autocomplete-placeholder.' + $ctrl.type | translate}}"
                            required>
        </place-autocomplete>
    </div>

    <md-input-container class="md-block">
        <label class="md-no-float">Industry Areas</label>
        <md-chips ng-model="$ctrl.selectedIndustries"
                  md-transform-chip="$ctrl.transformChip($chip)">
            <md-autocomplete
                    md-selected-item="$ctrl.selectedItem"
                    md-search-text="$ctrl.searchText"
                    md-items="item in $ctrl.querySearch($ctrl.searchText)"
                    md-item-text="item.name"
                    placeholder="Search for a Industry Areas">
                <span md-highlight-text="$ctrl.searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                {{$chip.name}}
            </md-chip-template>
        </md-chips>
    </md-input-container>
</div>
