<div class="lookup-organisation" flex="100" ng-if="!$ctrl.address">
    <div layout-padding>
        <h3>Look for you address (we use google search)</h3>
        <place-autocomplete ng-model="$ctrl.foundAddress" name="foundAddress"
                            ng-change="$ctrl.addressSelected($ctrl.foundAddress)"
                            placeholder="{{'create.organization.address-lookup.autocomplete-placeholder.' + $ctrl.type | translate}}" required>
        </place-autocomplete>
        {{$ctrl.organization.location}}
    </div>
</div>
