<div layout-padding>
    <h3>Logo and Background Images</h3>
    <div class="image-uploader logo"
         ngf-pattern="'image/*'"
         ngf-accept="'image/*'"
         ngf-max-size="10MB"
         ngf-min-height="250"
         ngf-resize="{width: 400, height: 250}"
         ngf-select
         ngf-drop
         layout="row" layout-align="center center" ng-model="$ctrl.organizationFiles.logo">
        <span class="drop-box" ng-if="!$ctrl.organizationFiles.logo">Drop your Logo here</span>
        <div class="logo-flex">
            <div class="logo" ng-if="$ctrl.organizationFiles.logo">
                <img ngf-src="$ctrl.organizationFiles.logo" class="thumb">
            </div>
        </div>
    </div>
    <small>Image size 400 x 250 / 10mb max</small>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

</div>
