h1, h2, h3, h4, h5, h6 {
  color: $uclred;
  font-weight:400;
  margin: 0;
}
.md-toolbar-tools {
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  .icon-close {
    font-size:25px;
  }
}
ui-view {
  width: 100%;
  &.centered {
    height: 100%;
  }
}
.md-button.md-raised, md-toolbar .md-button {
  font-weight:700 !important;
}
.text-aline-center {
  text-align: center;
}
.md-button.small {
  min-height: 28px;
  line-height:28px;
  font-size:12px;
}
.md-button.big {
  min-height:42px;
  line-height:42px;
  padding: 0 20px;
  font-weight: 900 !important;
}
.documents {
  margin-bottom:10px;
  .md-button {
    margin-bottom:20px;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
md-input-container {
  margin: 18px 0 0;
}
md-dialog .md-dialog-content {
  padding: 10px;
}
.layout-padding > * {
  padding: 0;
}
.hr-divider {
  margin-top:20px;
  margin-bottom:10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(87, 172, 213, 0), rgba(170, 170, 170, 1), rgba(87, 172, 213, 0));
}
md-radio-group {
  md-radio-button {
    .md-label {
      margin-left:24px;
    }
    margin-right:12px;
  }
}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
//

// Animations for view

/* Animations */
.fade-animation.ng-enter, .fade-animation.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.fade-animation.ng-enter.ng-enter-active, .fade-animation.ng-leave {
  opacity:1;
}

.fade-animation.ng-leave.ng-leave-active, .fade-animation.ng-enter {
  opacity:0;
}
.logo-flex {
  border:1px solid #ececec;
  background: #ffffff;
  display: flex;
  border-radius: 1px;
  margin-top: 0px;
  height: 125px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  .logo {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    img {
      max-height: 121px;
      max-width: 176px;
      position: relative;
      vertical-align: middle;
    }
  }
}
.page-wrap {
  background: white;
}
// Responsive
@media (max-width: $layout-breakpoint-xs - 1) {
  #place-autocomplete > md-autocomplete md-input-container {
    padding-bottom: 0;
  }
}

@media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm - 1) {

}
@media (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md - 1) {

}
@media (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-lg - 1) {
  .page-wrap {
    max-width: 1310px;
    margin: auto;
  }
}
@media (min-width: $layout-breakpoint-lg) {

}