.position-list {
  margin-bottom:30px;
  .position-item {
    padding: 8px;
    > div {
      cursor: pointer;
      &:hover {
        background:lighten($uclblue , 36% );
        border-radius: 2px;
      }
      padding: 8px;
    }
    .position-header {
      margin-top:0;
      margin-right:0;
      h2 {
        font-size:19px;
      }
    }
    .position-summary {
      column-count: 1;
      column-gap: 0;
      .availability {
        span {
          margin-right:4px;
        }
      }
    }
    .position-actions {
      margin-bottom: -4px;
      .apply {
        padding: 0 10px;
      }
    }
  }
}
.position-description-box {
  padding-right:20px;
}
.position, .advert, audience, advert-view {
  .position-item {
    width: 100%;
  }
}
.position-item {
  .position-header {
    margin-top:10px;
    margin-right: 10px;
    h2 {
      font-size:22px;
      color: $uclblue;
    }
  }
  .position-subheader {
    margin-top:3px;
    h4 a {
      color: $uclred;
    }
  }
  .position-summary {
    margin: 10px 10px 8px 0;
    padding: 9px 0 6px;
    border-top:1px solid $fadeGrey;
    border-bottom:1px solid $fadeGrey;
    column-count: 2;
    column-gap: 1em;
    font-size:14px;
    color: $uclfooter;
    font-weight:600;
    > div {
      margin-bottom:6px;
      &:before {
        content: '•';
        font-size:10px;
        margin-right:4px;
        margin-left:2px;
      }
    }
    .availability {
      .position-patterns {
        span {
          &:nth-child(2), &:nth-child(3){
            &:before {
              content: '/';
            }
          }
        }
      }
    }
    .location {
      span {
        margin-right: 6px;
      }
    }
  }
  .position-features {
    padding:8px 0 4px;
    font-size:14px;
    color: $uclfooter;
    font-weight:600;
    > div {
      display: inline-block;
      padding-right: 30px;
      padding-left: 2px;
      i {
        margin-right:4px;
      }
    }
  }
  .position-actions {
    .apply {
      padding: 0 20px;
    }
    margin-left:-6px;
    margin-bottom:2px;
    .lock-size {
      margin-right: -6px;
    }
  }
}
.lock-size {
  min-width: 56px;
  min-height: 56px;
  width: 56px;
  height: 56px;
  margin-left: auto;
  i {
    font-size:18px;
    &:before {
      line-height:39px;
    }
  }
}
.background-box {
  height: 320px;
  overflow: hidden;
  background-size: cover;
  &.ngf-hide {
    display: block !important;
  }
  md-progress-circular {
    margin: 80px auto 0;
  }
}
.promoter, .employer, .advert {
  .background-box {
    background: url(/img/emp-back.png) center top no-repeat;
    background-size: cover;
  }
}
.student {
  .background-box {
    background: url(/img/student-back.png) center top no-repeat;
    background-size: cover;
  }
}
.department {
  .background-box {
    background: url(/img/uni-back.png) center top no-repeat;
    background-size: cover;
  }
}
.position-box {
  margin-top:-137px;
  .position-box-header {
    width: 96%;
    background: white;
    position: relative;
    z-index: 7;
    .logo-image {
      margin: 10px;
    }
  }
}
@media (max-width: $layout-breakpoint-xs - 1) {
  .position-box {
    .position-box-header {
      padding: 10px;
      .logo-image {
        margin: 0;
      }
      .logo-flex {
        padding-bottom:10px;
        border-width: 0 0 1px 0;
      }
    }
    .position-item {
      .position-header {
        margin-right:0;
      }
      .position-summary {
        column-count: 1;
        column-gap: 0;
      }
    }
  }
  .position-description-box {
    padding-right:0;
  }
}
