$font-family: 'Lato' !default;
$uclblue: #2a7d9a ;
$uclblue2: #70BDD8;
$uclhue2:rgb(42, 126, 167);
$uclhue3:rgb(63, 160, 207);
$uclgreen: #569745 ;
$uclgreenh1:rgb(40, 146, 123);
$uclred:#e75223 ;
$uclfooter: #767884;

$employmentColor: #f0ad4e;

$error: #e33244;
$errorBackground: #ffecec;

$programColor: #904C94;
$supervisorsColor: #CF1955;
$personalDetailsColor: #CF1955;
$addressColor: #631125;
$qualificationsColor: #ef723a;
$employmentColor: #f0ad4e;
$fundingColor: #b9c537;
$refereesColor: #11374f;
$documentsColor: #36acc5;
$additionalInfoColor: #97bfdf;
$activeGrey: #999;
$inactiveGrey: #dde4e2;
$fadeGrey:#ececec;

$blueback: #DEF1FF;
$greenback: #dfedea;
$redback: #f1e4e2;

$selectionColor: #3399FF;
$mainBackground: #f2f2f2;
$greyBackground: #FAFAFA;
$panel-grey: #f5f5f5;

$fontColor1: #6d6e71;
$fontColor2: #404040;
$fontColor3: #393736;

$goldColor: #ffbf00;


$facebook-color: #3b5998;
$linkedin-color: #4875B4;
$twitter-color: #00aced;


$font-size: 1.6rem !default;

$button-border-radius:1.5px !default;
