<div class="background-uploader-box">
    <div ng-if="!publicIdToCrop" class="upload-button">
        <button class="background-uploader"
                ng-model="chosenFile"
                ngf-pattern="'image/*'"
                ngf-accept="'image/png, image/jpeg, image/gif'"
                ngf-max-size="5MB"
                ngf-change="fileChanged($file)"
                ngf-select>
            <i class="icon-camera"></i>
        </button>
        <button ng-if="imageUrl" ng-click="edit()">Edit</button>
        <img ng-if="imageUrl" ng-src="{{imageUrl}}"/>
        <small>Minimum size 1280 x 320</small>
    </div>
    <div ng-if="publicIdToCrop">
        <ng-croppie ng-model="data.croppedUrl" public-id="{{publicIdToCrop}}"></ng-croppie>
        <button ng-click="cancel()">Cancel</button>
        <button ng-click="confirm()">Ok</button>
        {{progressPercentage}}
    </div>
</div>

