<div class="page-wrap">
    <advert-preview-box advert="$ctrl.advert" read-only="true"></advert-preview-box>
    <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center start">
        <div flex="100" flex-gt-sm="75" class="single-full-block" layout="column" layout-align="center stretch">
            <div class="tab-container" flex layout="row">
                <div class="overview active" ng-click="$ctrl.changeTab(0, $event)" flex="50" flex-gt-sm="33">
                    <div layout-padding="">
                        <h3>Overview</h3>
                        <p>About this position</p>
                    </div>
                </div>
                <div class="positions" ng-click="$ctrl.changeTab(1, $event)" flex="50" flex-gt-sm="33">
                    <div layout-padding="">
                        <h3>Other Positions</h3>
                        <p><i class="icon-briefcase"></i> 3 other related positions</p>
                    </div>
                </div>
            </div>
            <md-tabs md-dynamic-height md-selected="$ctrl.selectedIndex">
                <md-tab label="overview">
                    <md-content class="md-padding">
                        <div layout="column" layout-gt-xs="row" layout-align="center start">
                            <div flex-gt-xs="75" class="position-description-box">
                                <div class="subheader">
                                    <p>We’re looking for Electronics and Computer Science graduates keen to start making real
                                        products for our clients. You’ll need to be the sort of person who is willing to turn
                                        their hand to a lot of different tasks, and enjoys constantly learning new things.</p>
                                </div>
                                <div class="description">
                                    <p><strong>Background:</strong></p>
                                    <p>Biocatalysts is a customised enzyme discovery, development and manufacturing company
                                        based in the UK, with a subsidiary in Illinois, USA. We work with our customers, many of
                                        which are the top blue chip food companies, to provide unique enzyme solutions that will
                                        help them solve process problems, valorise waste, facilitate a biochemical reaction or
                                        deliver competitive advantage through using a unique product. </p>
                                    <p>Due to our on-going commitment to expanding our technical capabilities within our enzyme
                                        production plant, we have an opportunity for a Process Development Specialist who will
                                        be part of our highly motivated Process Development Team.</p>

                                    <p><strong>Purpose of the role: </strong></p>
                                    <p>To develop and deliver commercially successful fermentation and downstream processing for
                                        enzyme products. To deliver enzyme materials on time to meet customer orders and project
                                        objectives. </p>
                                    <p><b>Profile:</b></p>
                                    <p>You will have a degree in Biochemical Engineering or equivalent.&nbsp;<span
                                            style="text-align: justify;">Having practical experience&nbsp;</span><span
                                            style="text-align: justify;">in fermentation, downstream processing, technical transfer and scale up or&nbsp;</span><span
                                            style="text-align: justify;">working in a technical environment would be a distinct advantage.</span><span
                                            style="text-align: justify;">&nbsp;</span></p>

                                    <p style="text-align: justify;">If you are someone who is&nbsp;practical, ‘hands on’ with a
                                        flexible, ‘can-do’ attitude, analytical, with great<br>attention to detail and
                                        willingness to change working hours and work extra to&nbsp;accommodate fermentation
                                        processes, please contact us today.</p>
                                    <p><b>Hours:</b><br>09:00 – 17:00 during training period and then you will be required to
                                        work 4 x 11 hr&nbsp;shifts 07:00 - 18:00 </p>
                                </div>
                            </div>
                            <div flex-gt-xs="35">
                                <div class="benefits">
                                    <h4>Benefits:</h4>
                                    <md-chips class="small">
                                        <md-chip>Annual Bonus</md-chip>
                                        <md-chip>On target earnings</md-chip>
                                        <md-chip>Share Options</md-chip>
                                        <md-chip>Private Health Insurance</md-chip>
                                        <md-chip>Pension Scheme/Contribution</md-chip>
                                        <md-chip>Other</md-chip>
                                    </md-chips>
                                    <p class="benefits-description">
                                        Substantial benefits also include Life Insurance, Childcare Vouchers, free parking and others.
                                    </p>
                                </div>
                                <div class="specialities">
                                    <h4>Industries:</h4>
                                    <md-chips class="small">
                                        <md-chip>Biotechnology</md-chip>
                                        <md-chip>Food Production</md-chip>
                                    </md-chips>
                                    <h4>Functions:</h4>
                                    <md-chips class="small">
                                        <md-chip>Manufacturing</md-chip>
                                        <md-chip>Research</md-chip>
                                        <md-chip>Science</md-chip>
                                    </md-chips>
                                </div>
                            </div>
                        </div>
                        <div class="map-container">
                            <ui-gmap-google-map center="$ctrl.map.center" zoom="$ctrl.map.zoom">
                                <!--<ui-gmap-window show="map.clickedMarker"-->
                                                <!--templateUrl="'views/opportunities/opportunity-item-location-window.html'"-->
                                                <!--templateParameter="map.clickedMarker" coords="map.clickedMarker.coordinates"-->
                                                <!--closeclick="map.clickedMarker = null">-->
                                <!--</ui-gmap-window>-->
                                <!--<ui-gmap-markers models="map.markers" coords="'self'" fit="true" events="{click: map.clickMarker}">-->
                                <!--</ui-gmap-markers>-->
                            </ui-gmap-google-map>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="positions">
                    <md-content>
                        <h2 layout-padding="8">Positions</h2>
                        <h4 layout-padding="8">Recomended for your skills</h4>
                        <div class="position-list" layout="row" layout-wrap layout-fill layout-align="start start">
                            <div class="position-item " flex="100" flex-gt-xs="50" flex-gt-sm="33">
                                <div class="md-whiteframe-1dp" ui-sref="position-view">
                                    <div class="position-header" layout="row" layout-align="start center">
                                        <h2>Graduate Software and Electronics Engineers</h2>
                                        <span flex></span>
                                        <label class="badge">Employment</label>
                                    </div>
                                    <div class="position-summary">
                                        <div class="availability">Available: Permanent - Full Time</div>
                                        <div class="salary">Competitive Salary</div>
                                    </div>
                                    <div class="position-features">
                                        <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                                        <div class="views"><i class="icon-people"></i> 0 views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-item " flex="100" flex-gt-xs="50" flex-gt-sm="33">
                                <div class="md-whiteframe-1dp" ui-sref="position-view">
                                    <div class="position-header" layout="row" layout-align="start center">
                                        <h2>Graduate Software and Electronics Engineers</h2>
                                        <span flex></span>
                                        <label class="badge">Employment</label>
                                    </div>
                                    <div class="position-summary">
                                        <div class="availability">Available: Permanent - Full Time</div>
                                        <div class="salary">Competitive Salary</div>
                                    </div>
                                    <div class="position-features">
                                        <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                                        <div class="views"><i class="icon-people"></i> 0 views</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 layout-padding="8">Other positions</h4>
                        <div class="position-list" layout="row" layout-wrap layout-fill layout-align="start start">
                            <div class="position-item " flex="100" flex-gt-xs="50" flex-gt-sm="33">
                                <div class="md-whiteframe-1dp">
                                    <div class="position-header" layout="row" layout-align="start center">
                                        <h2>Graduate Software and Electronics Engineers</h2>
                                        <span flex></span>
                                        <label class="badge">Employment</label>
                                    </div>
                                    <div class="position-summary">
                                        <div class="availability">Available: Permanent - Full Time</div>
                                        <div class="salary">Competitive Salary</div>
                                    </div>
                                    <div class="position-features">
                                        <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                                        <div class="views"><i class="icon-people"></i> 0 views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-item " flex="100" flex-gt-xs="50" flex-gt-sm="33">
                                <div class="md-whiteframe-1dp">
                                    <div class="position-header" layout="row" layout-align="start center">
                                        <h2>Graduate Software and Electronics Engineers</h2>
                                        <span flex></span>
                                        <label class="badge">Employment</label>
                                    </div>
                                    <div class="position-summary">
                                        <div class="availability">Available: Permanent - Full Time</div>
                                        <div class="salary">Competitive Salary</div>
                                    </div>
                                    <div class="position-features">
                                        <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                                        <div class="views"><i class="icon-people"></i> 0 views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-item " flex="100" flex-gt-xs="50" flex-gt-sm="33">
                                <div class="md-whiteframe-1dp">
                                    <div class="position-header" layout="row" layout-align="start center">
                                        <h2>Graduate Software and Electronics Engineers</h2>
                                        <span flex></span>
                                        <label class="badge">Employment</label>
                                    </div>
                                    <div class="position-summary">
                                        <div class="availability">Available: Permanent - Full Time</div>
                                        <div class="salary">Competitive Salary</div>
                                    </div>
                                    <div class="position-features">
                                        <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                                        <div class="views"><i class="icon-people"></i> 0 views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-item " flex="100" flex-gt-xs="50" flex-gt-sm="33">
                                <div class="md-whiteframe-1dp">
                                    <div class="position-header" layout="row" layout-align="start center">
                                        <h2>Graduate Software and Electronics Engineers</h2>
                                        <span flex></span>
                                        <label class="badge">Employment</label>
                                    </div>
                                    <div class="position-summary">
                                        <div class="availability">Available: Permanent - Full Time</div>
                                        <div class="salary">Competitive Salary</div>
                                    </div>
                                    <div class="position-features">
                                        <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                                        <div class="views"><i class="icon-people"></i> 0 views</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
