<div ng-if="!$ctrl.passwordReset">
    <form novalidate name="resetPasswordForm" ng-submit="$ctrl.resetPassword(resetPasswordForm)">
        <div class="index-padding">
            <md-input-container class="md-block">
                <input placeholder="Email" name="username" ng-model="$ctrl.user.username" required type="email">
                <div ng-messages="loginForm.username.$error" role="alert">
                    <div ng-message-exp="['required', 'email']">
                        Your email must look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout="column" layout-align="space-between stretch">
            <md-button type="submit" class="md-warn md-raised">Reset Password</md-button>
        </div>
        <div layout-gt-xs="row" layout-align="end center">
            <md-button class="md-warn" ng-click="$ctrl.setView('LOGIN')">Back</md-button>
        </div>
    </form>
</div>
<div ng-if="$ctrl.passwordReset">
    Check your email.
</div>
