<div class="social-login" layout="row" layout-align="center">
    <md-button flex="50" ng-click="onAuth({provider: 'linkedin'})" class="md-raised linkedin">
        <i class="icon-social-linkedin"></i> linkedin
    </md-button>
    <md-button flex="50" ng-click="onAuth({provider: 'facebook'})" class="md-raised facebook">
        <i class="icon-social-facebook"></i> facebook
    </md-button>
</div>
<div class="divider-or"><span>OR</span></div>
<form novalidate name="loginForm" ng-submit="$ctrl.submit(loginForm)">
    <div layout-gt-xs="row" class="index-padding">
        <md-input-container class="md-block" flex-gt-xs>
            <input placeholder="Email" name="username" ng-model="$ctrl.user.username" required type="email">
            <div ng-messages="loginForm.username.$error" role="alert">
                <div ng-message-exp="['required', 'email']">
                    Your email must look like an e-mail address.
                </div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row" class="index-padding">
        <md-input-container class="md-block" flex-gt-xs>
            <input placeholder="Password" name="password" ng-model="$ctrl.user.password" required type="password">
            <div ng-messages="loginForm.password.$error" role="alert">
                <div ng-messages-include="my-custom-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" layout-align="space-between stretch">
        <md-button type="submit" class="md-warn md-raised">Submit</md-button>
    </div>
    <div layout-gt-xs="row" layout-align="end center">
        <md-button class="md-warn" ui-sref="forgot-password">Forgot password?</md-button>
    </div>
</form>
