<md-input-container flex="33">
    <label class="md-no-float">Language</label>
    <md-select ng-model="language.language" name="language_{{$index}}">
        <md-select-header>
            <input ng-model="searchTerm"
                   placeholder="Search for a language..."
                   class="md-text language-search-term">
        </md-select-header>
        <md-optgroup label="languages">
            <md-option ng-value="lang"
                       ng-repeat="lang in $ctrl.definitions.languages | filter:searchTerm">
                {{lang.name}}
            </md-option>
        </md-optgroup>
    </md-select>
</md-input-container>
<md-input-container flex="33">
    <label class="md-no-float">Proficiency</label>
    <md-select name="type" ng-model="$ctrl.language.proficiency">
        <md-option value="elementary">Elementary</md-option>
        <md-option value="limited_working">Limited working</md-option>
        <md-option value="professional_working">Professional working</md-option>
        <md-option value="full_professional" selected="true">Full professional</md-option>
        <md-option value="native_or_bilingual">Native or bilingual</md-option>
    </md-select>
</md-input-container>
