<div layout-padding>
    <div class="languages">
        <div ng-repeat="language in $ctrl.student.languages" class="language-item" layout="row">
            <language language="language" form="$ctrl.wizard.form"
                      layout="row" flex="75"></language>
            <div flex="25">
                <md-button ng-click="$ctrl.removeLanguage(language)"
                           ng-if="$ctrl.student.languages.length > 1"
                           class="md-fab md-mini md-warn" aria-label="Remove Language">
                    <md-icon class="icon-close"></md-icon>
                </md-button>
                <md-button ng-click="$ctrl.addLanguage(language)" class="md-fab md-mini md-primary"
                           aria-label="Add Language">
                    <md-icon class="icon-plus"></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <suggested-tags resource="$ctrl.student" form="$ctrl.wizard.form" label="Skills"></suggested-tags>

    <md-input-container class="md-block industries-holder" layout="row">
        <label class="md-no-float">Personal Interests</label>
        <md-chips ng-model="$ctrl.student.interests"
                  md-transform-chip="$ctrl.transformInterest($chip)">
            <md-autocomplete
                    md-search-text="searchText"
                    md-autoselect="true"
                    md-items="item in $ctrl.lookupInterests(searchText)"
                    md-item-text="item.name"
                    placeholder="Find a tag or add a new one">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                {{$chip.interest.name}}
            </md-chip-template>
        </md-chips>
    </md-input-container>

    <label class="standalone-label">Preferred work location</label>
    <md-radio-group name="type" ng-required="true" ng-model="$ctrl.locationType"
                    ng-change="$ctrl.locationTypeChanged($ctrl.locationType)" class="horizontal-form medium">
        <div class="radio-box-aligned">
            <md-radio-button ng-value="'ANYWHERE'" class="md-primary">
                Any
            </md-radio-button>
            <md-radio-button ng-value="'COUNTRY'" class="md-primary">
                Countries
            </md-radio-button>
            <md-radio-button ng-value="'CITY'" class="md-primary">
                Cities
            </md-radio-button>
        </div>
    </md-radio-group>
    <div class="locations country" layout="row" ng-if="$ctrl.locationType === 'COUNTRY'">
        <md-input-container class="md-block" flex>
            <label class="md-no-float">Countries</label>
            <md-chips ng-model="$ctrl.student.locations"
                      md-transform-chip="$ctrl.transformCountry($chip)"
                      md-separator-keys="$ctrl.separatorKeys">
                <md-autocomplete
                        md-search-text="searchText"
                        md-autoselect="true"
                        md-items="item in $ctrl.lookupCountries(searchText)"
                        md-item-text="item.name"
                        md-min-length="0"
                        placeholder="Find a country">
                    <span md-highlight-text="searchText">{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    {{$chip.location.name}}
                </md-chip-template>
            </md-chips>
            <div ng-messages="$ctrl.wizard.form.locations.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div ng-if="$ctrl.locationType === 'CITY'">
        <div class="locations cities" layout="row">
            <md-input-container class="md-block" flex="">
                <label class="md-no-float">Cities</label>
                <place-autocomplete ng-model="$ctrl.student.locations" name="locations"
                                    placeholder="{{'create.organization.address-lookup.autocomplete-placeholder.' + $ctrl.wizardType | translate}}"
                                    required>
                </place-autocomplete>
                <div ng-messages="$ctrl.wizard.form.locations.$error" role="alert">
                    <div ng-messages-include="general-messages"></div>
                </div>
            </md-input-container>
        </div>

        <div layout="row" class="traveling-block">
            <md-input-container class="md-block" flex="50">
                <label class="md-no-float">Travelling Distance</label>
                <md-select name="proximity" ng-model="$ctrl.student.proximity" required>
                    <md-option placeholder="Travelling Distance" ng-repeat="number in $ctrl.definitions.proximity"
                               ng-value="number">
                        {{'definitions.proximity.' + number | translate}}
                    </md-option>
                </md-select>
                <div ng-messages="$ctrl.wizard.form.proximity.$error" role="alert">
                    <div ng-messages-include="general-messages"></div>
                </div>
            </md-input-container>
        </div>
    </div>
</div>
