<div layout-padding>
    <h3>Skills and Interests</h3>
    <md-input-container class="md-block industries-holder" layout="row">
        <label class="md-no-float">Skills</label>
        <md-chips ng-model="$ctrl.student.tags"
                  md-transform-chip="$ctrl.transformTag($chip)">
            <md-autocomplete
                    md-search-text="searchText"
                    md-autoselect="true"
                    md-items="item in $ctrl.lookupTags(searchText)"
                    md-item-text="item.name"
                    placeholder="Find a tag or add a new one">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                {{$chip.tag.name}}
            </md-chip-template>
        </md-chips>
    </md-input-container>
    <md-input-container class="md-block">
        <label class="md-no-float">Personal Interests</label>
        <textarea ng-model="$ctrl.student.interests" md-maxlength="250" name="interests" rows="3"
                  required aria-label="Personal Interests"></textarea>
        <div ng-messages="$ctrl.form.interests.$error" role="alert">
            <div ng-messages-include="general-messages"></div>
        </div>
    </md-input-container>
</div>
