<div layout-padding>
    <div layout="row" layout-gt-sm="row">
        <md-input-container class="md-block" flex="50">
            <label class="md-no-float">Preferred Phone</label>
            <input ng-model="$ctrl.student.mobile" name="mobile" required>
            <div ng-messages="$ctrl.wizard.form.mobile.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
    </div>

    <md-input-container class="md-block">
        <label class="md-no-float">Personal Statement</label>
        <textarea ng-model="$ctrl.student.summary" md-maxlength="500" name="summary" rows="3"
                  required aria-label="Personal Statement"></textarea>
        <div ng-messages="$ctrl.wizard.form.summary.$error" role="alert">
            <div ng-messages-include="general-messages"></div>
        </div>
    </md-input-container>

    <label class="standalone-label">Upload your CV <small>(PDF only)</small></label>
    <div class="documents" layout="row" layout-align="start center">
        <document-uploader ng-model="$ctrl.student.documentResume"></document-uploader>
    </div>
</div>
