<div layout-padding>
    <h3>Skills and Interests</h3>
    <md-input-container class="md-block industries-holder" layout="row">
        <label class="md-no-float">Skills</label>
        <md-chips ng-model="$ctrl.student.tags"
                  md-transform-chip="$ctrl.transformTag($chip)"
                  md-separator-keys="$ctrl.separatorKeys">
            <md-autocomplete
                    md-search-text="searchText"
                    md-autoselect="true"
                    md-items="item in $ctrl.lookupTags(searchText)"
                    md-item-text="item.name"
                    placeholder="Find a tag or add a new one">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                {{$chip.tag.name}}
            </md-chip-template>
        </md-chips>
    </md-input-container>
    <md-input-container class="md-block industries-holder" layout="row">
        <label class="md-no-float">Personal Interests</label>
        <md-chips ng-model="$ctrl.student.tags"
                  md-transform-chip="$ctrl.transformTag($chip)">
            <md-autocomplete
                    md-search-text="searchText"
                    md-autoselect="true"
                    md-items="item in $ctrl.lookupTags(searchText)"
                    md-item-text="item.name"
                    placeholder="Find a tag or add a new one">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                {{$chip.tag.name}}
            </md-chip-template>
        </md-chips>
    </md-input-container>
    <label class="standalone-label">Upload your CV <small>(PDF only)</small></label>
    <div class="documents" layout="row" layout-align="start center">
        <md-button name="fileSupport" ngf-accept="'application/pdf'" ngf-select="upload($file)" class="md-warn md-raised small">
            Upload Cv
        </md-button>
        <md-chips>
            <md-chip>Your Cv.pdf</md-chip>
        </md-chips>
    </div>
</div>
