// Intro
.step-page {
  &.child {
    background: transparent;
    .single-block {
      .header{
        margin-bottom:0;
        margin-top:15px;
      }
    }
  }
  h4 {
    color: $uclfooter;
    font-weight:900;
  }
  h3 {
    margin-top:4px;
    color: rgba(0,0,0,0.87);
  }
  .step-wizard {
    h3 {
      margin-bottom:36px;
      font-size:24px;
    }
    .text-editor {
      h3 {
        margin-bottom:6px;
      }
      .btn-group {
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .left-side-block {
    padding: 60px 40px;
    .header {
      margin-bottom:40px;
    }
  }
  .step {
    h2, h3, h4, h5, h6 {
      padding-bottom:0;
      padding-top:8px;
    }
    h4 {
      color: $uclfooter;
      font-weight:900;
    }
    h3 {
      color: $uclfooter;
    }
    p {
      margin-top: 4px;
      margin-bottom:10px;
    }
    > div {
      position: relative;
      .icon-holder {
        position: absolute;
        right: 35px;
        top: 15px;
        i {
          font-size: 50px;
          &.icon-check {
            color: $uclgreen;
          }
          &.icon-close {
            color: $uclred;
          }
          &.icon-exclamation {
            color: $employmentColor;
          }
        }
      }
    }
  }
  .right-side-block {
    .custom-icon {
      display: block;
      width: 100%;
      max-width: 200px;
      margin: auto;
    }
  }
  .action-block{
    padding: 20px 0;
  }
  .preview-text {
    margin-top:-18px;
  }
}
.custom-icon {
  &.employer{
    svg {
      line, path, polygon, polyline, g ,circle{
        stroke: $uclred;
      }
      g path {
        fill: $uclred;
        stroke: transparent;
      }
    }
  }
  &.university {
    svg {
      line, path, polygon, polyline, g {
        stroke: $uclgreen;
      }
      g path, g rect {
        fill: $uclgreen;
        stroke: transparent;
      }
    }
  }
  &.student {
    svg {
      line, path, polygon, polyline, g, rect, circle {
        stroke: $uclblue;
      }
      g path, g circle, g rect {
        fill: $uclblue;
        stroke: transparent;
      }
    }
  }
}
.secondary-actions {
  margin-bottom:-10px;
}
.secondary-options {
  margin-top:36px;
}
.profile-box {
  .profile-holder {
    background: white;
    margin-top:30px;
  }
  min-height: 150px;
}
.autocomplete-custom-template {
  li {
    &:first-child {
      font-size: 16px;
      color: white;
      background: lighten($uclred, 15%);
      &:hover, &.selected {
        background: lighten($uclred, 5%) !important;
      }
      .highlight {
        font-weight: 900;
        color: white;
      }
    }
  }
}
.horizontal-form {
  md-radio-button {
    display: inline-block;
  }
  .radio-box {
    border: none;
  }
}
.radio-box {
  border: 1px solid $fadeGrey;
  border-radius:2px;
  md-radio-button {
    border-bottom:1px solid $fadeGrey;
    margin:0;
    padding: 20px;
    &:last-child {
      border-bottom:none;
    }
    .md-container {
      left: 20px;
    }
    .md-label {
      font-size:18px;
      margin-left:32px;
      font-weight:700;
    }
    small {
      display: block;
      margin-top:6px;
      font-weight:400;
    }
  }
}
.md-select-value .md-select-icon:after {
  content: '\E604';
  font-family: "simple-line-icons";
  transform: scaleY(1) scaleX(1);
}
md-autocomplete input:not(.md-input), md-input-container  {
  font-size:18px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:320px;
}
img-crop {
  width: 100%;
  &.fixed-height {
    height: 100%;
    position: relative;
    overflow: hidden;
    canvas {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
  &.full-width {
    text-align:center;
    canvas {
      display:inline;
    }
  }
  display: block;
  canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  .loading {
    .fixed-height {
      height: 100%;
      position: absolute;
    }
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

// MediaQ
@media (max-width: $layout-breakpoint-xs - 1) {
  .step-page {
    .left-side-block, .action-block{
      padding: 20px 0;
    }
    &.child {
      .left-side-block, .right-side-block {
        padding: 20px;
      }
    }
  }
}
