.prism-dialog {
  background: white;
  .logo {
    margin:0 auto 10px;
    width: 150px;
    display: block;
    img {
      width:100%;
    }
  }
  .index-padding {
    padding: 0 8px;
  }
  .text-content {
    padding: 15px 10px 0;
  }
}
