.prism-dialog {
  background: white;
  .index-padding {
    padding: 0 8px;
  }
  .text-content {
    padding: 15px 10px 0;
  }
}
.dialog-content {
  width: 360px;
  margin: auto;
}
@media (max-width: $layout-breakpoint-xs - 1) {
  .prism-dialog {
    .dialog-content {
        width: 100%;
    }
  }
}
@media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm - 1) {
  .loginPage {
    section {
      .login {
        padding-left: 3%;
        padding-right: 3%;
      }
    }
  }
  .create-account {
    padding-left: 3%;
    padding-right: 3%;
  }
}