<prism-dialog title="Create Account">
    <div layout="column" layout-align="space-between stretch">
        <md-button class="md-primary md-raised" ng-click="$ctrl.goto('student')" aria-label="Student">
            Student
        </md-button>
        <md-button class="md-accent md-hue-2 md-raised" ng-click="$ctrl.goto('university')" aria-label="University">
            University
        </md-button>
        <md-button class="md-warn md-raised" ng-click="$ctrl.goto('employer')" aria-label="Employer">
            Employer
        </md-button>
    </div>
</prism-dialog>
