<div class="page-wrap step-page child">
    <form novalidate name="organizationForm" class="md-inline-form" ng-submit="$ctrl.submit(organizationForm)">
        <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center start">
            <div flex="100" flex-gt-sm="75" class="left-side-block" layout="column" layout-align="center stretch">
                <div class="header" layout-padding>
                    <h4>STEP 1</h4>
                    <h1>Company Information</h1>
                </div>

                <div ng-if="$ctrl.step === 0">
                    <p>Choose category of your company</p>
                    <organization-category form="organizationForm" category="$ctrl.category"></organization-category>
                </div>

                <div ng-if="$ctrl.step === 1">
                    <p>Find or create your company</p>
                    <organization-lookup type="EMPLOYER" form="organizationForm" organization="$ctrl.organization"></organization-lookup>
                </div>

                <div ng-if="$ctrl.step === 2">
                    <p>Provide your company summary</p>
                    <organization-summary type="EMPLOYER" form="organizationForm" organization="$ctrl.organization"></organization-summary>
                </div>

                <div ng-if="$ctrl.step === 3">
                    <p>Review?</p>
                    {{$ctrl.organization}}
                </div>

                <div class="action-block" layout="row" layout-align="space-between none">
                    <md-button class="md-raised md-button md-ink-ripple big" ng-click="$ctrl.back()">Back</md-button>
                    <md-button type="submit" class="md-primary md-raised big" ng-disabled="organizationForm.$invalid">Continue</md-button>
                </div>
            </div>

        </div>

    </form>
</div>
