<div class="preview" ng-if="$ctrl.organization">
    <label>Preview</label>
    <organization-preview-box organization="$ctrl.organization"></organization-preview-box>
    <div layout="row" layout-align="center end">
        <div class="preview-navigation" flex-gt-sm="75">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="preview links" class="md-primary">
                <md-nav-item md-nav-sref="employer.{{$ctrl.organization.id}}.category" name="category">Category</md-nav-item>
                <md-nav-item md-nav-sref="employer.{{$ctrl.organization.id}}.lookup" name="name">Name</md-nav-item>
                <md-nav-item md-nav-sref="employer.{{$ctrl.organization.id}}.summary" name="summary">Summary/Description</md-nav-item>
                <md-nav-item md-nav-sref="employer.{{$ctrl.organization.id}}.address" name="address">Address</md-nav-item>
                <md-nav-item md-nav-sref="employer.{{$ctrl.organization.id}}.assets" name="assets">Logo</md-nav-item>
            </md-nav-bar>
        </div>
    </div>
</div>
<div class="page-wrap step-page child">
    <form novalidate name="organizationForm" ng-submit="$ctrl.submit(organizationForm)">
        <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center start">
            <div flex="100" flex-gt-sm="75" class="single-block" layout="column" layout-align="center stretch">
                <div class="header" layout-padding>
                    <h4>STEP {{$ctrl.stepIdx + 1}}</h4>
                    <h1>Company Information</h1>
                </div>
                <div class="step-wizard">
                    <div ng-if="$ctrl.step === 'category'" layout="column" layout-align="center">
                        <organization-category type="EMPLOYER" form="organizationForm"
                                               organization="$ctrl.organization"></organization-category>
                    </div>
                    <div ng-if="$ctrl.step === 'lookup'">
                        <organization-lookup type="EMPLOYER" form="organizationForm"
                                             organization="$ctrl.organization"></organization-lookup>
                    </div>
                    <div ng-if="$ctrl.step === 'summary'">
                        <organization-summary type="EMPLOYER" form="organizationForm"
                                              organization="$ctrl.organization"></organization-summary>
                    </div>
                    <div ng-if="$ctrl.step === 'address'">
                        <organization-address type="EMPLOYER" form="organizationForm"
                                              organization="$ctrl.organization"></organization-address>
                    </div>
                    <div ng-if="$ctrl.step === 'assets'">
                        <organization-assets type="EMPLOYER" form="organizationForm"
                                             organization="$ctrl.organization"></organization-assets>
                    </div>
                    <div ng-if="$ctrl.step === 'preview'">
                        <organization-preview type="EMPLOYER" form="organizationForm"
                                             organization="$ctrl.organization"></organization-preview>
                    </div>
                </div>
                <div class="action-block" layout="row" layout-align="space-between none">
                    <md-button class="md-raised md-button md-ink-ripple big" ng-click="$ctrl.back()">Back</md-button>
                    <md-button type="submit" class="md-primary md-raised big" ng-disabled="organizationForm.$invalid">
                        Continue
                    </md-button>
                </div>
            </div>

        </div>

    </form>
</div>
