<div class="preview" ng-if="$ctrl.organization.name">
    <label>Preview</label>
    <div class="company-box" layout="row" layout-align="center end" >
        <div class="company-header" layout="row" flex-gt-sm="75">
            <div class="logo-image">
                <div class="logo-flex company-logo">
                    <div class="logo">
                        <img ngf-thumbnail="$ctrl.organization.documentLogoImage || '/img/prism-logo-default.png'">
                    </div>
                </div>
            </div>
            <div>
                <h2>{{$ctrl.organization.name}} <md-button class="small-xs" ng-if="$ctrl.preview">Edit</md-button></h2>
                <p class="summary">{{$ctrl.organization.summary}} <md-button class="small-xs" ng-if="$ctrl.preview">Edit</md-button></p>
                <p class="address">{{$ctrl.organization.location.description}} <md-button class="small-xs" ng-if="$ctrl.preview">Edit</md-button></p>
            </div>
        </div>
    </div>
</div>
<div class="page-wrap step-page child">
    <form novalidate name="organizationForm" ng-submit="$ctrl.submit(organizationForm)">
        <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center start">
            <div flex="100" flex-gt-sm="75" class="single-block" layout="column" layout-align="center stretch">
                <div class="header" layout-padding>
                    <h4>STEP {{$ctrl.step + 1}}</h4>
                    <h1>Company Information</h1>
                </div>
                <div class="step-wizard">
                    <div ng-if="$ctrl.step === 0" layout="column" layout-align="center">
                        <organization-category form="organizationForm" category="$ctrl.category"
                                               flex="100" flex-gt-sm="60"></organization-category>
                    </div>
                    <div ng-if="$ctrl.step === 1">
                        <organization-lookup type="EMPLOYER" form="organizationForm"
                                             organization="$ctrl.organization"></organization-lookup>
                    </div>
                    <div ng-if="$ctrl.step === 2">
                        <organization-summary type="EMPLOYER" form="organizationForm"
                                              organization="$ctrl.organization"></organization-summary>
                    </div>
                    <div ng-if="$ctrl.step === 3">
                        <organization-address type="EMPLOYER" form="organizationForm"
                                              organization="$ctrl.organization"></organization-address>
                    </div>
                    <div ng-if="$ctrl.step === 4">
                        <organization-assets type="EMPLOYER" form="organizationForm"
                                             organization-files="$ctrl.organizationFiles"></organization-assets>
                    </div>
                </div>
                <div class="action-block" layout="row" layout-align="space-between none">
                    <md-button class="md-raised md-button md-ink-ripple big" ng-click="$ctrl.back()">Back</md-button>
                    <md-button type="submit" class="md-primary md-raised big" ng-disabled="organizationForm.$invalid">
                        Continue
                    </md-button>
                </div>
            </div>

        </div>

    </form>
</div>
