<div layout-padding>
    <h3>Provide Promotion Availability</h3>
    <label class="standalone-label">Promotion options</label>
    <md-radio-group name="type" ng-required="true" ng-model="$ctrl.position.duration" class="horizontal-form medium">
        <div class="radio-box-alined">
            <md-radio-button value="PERMANENT" class="md-primary" checked="checked" ng-checked="true">
                Permanent
            </md-radio-button>
            <md-radio-button value="FIXED-TERM" class="md-primary">
                Fixed-Term/Contract
            </md-radio-button>
        </div>
    </md-radio-group>
    <div class="fixed-term-duration" ng-if="$ctrl.position.duration === 'FIXED-TERM'">
        <label class="standalone-label">Duration Range (Months)</label>
        <div layout="row">
            <md-input-container>
                <label>Min</label>
                <input required type="number" name="duration-min" ng-model="$ctrl.position.durationMin" min="1"
                       max="23"/>
            </md-input-container>
            <md-input-container>
                <label>Max</label>
                <input required type="number" name="duration-max" ng-model="$ctrl.position.durationMax" min="2"
                       max="24"/>
            </md-input-container>
        </div>
    </div>
    <div class="checkboxes-group">
        <div ng-repeat="item in $ctrl.items">
            <md-checkbox class="md-primary" ng-checked="$ctrl.exists(item, $ctrl.selected)" ng-click="$ctrl.toggle(item, $ctrl.selected)">
                {{ item }}
            </md-checkbox>
        </div>
        <md-checkbox aria-label="Select All"
                     class="md-primary"
                     ng-checked="$ctrl.isChecked()"
                     md-indeterminate="$ctrl.isIndeterminate()"
                     ng-click="$ctrl.toggleAll()">
            <span ng-if="$ctrl.isChecked()">Un-</span>Select All
        </md-checkbox>
    </div>
    <div class="hours-week-duration" ng-if="$ctrl.selected.indexOf('Part Time') !== -1 || $ctrl.selected.indexOf('Flexible') !== -1">
        <label class="standalone-label">Hours per Week</label>
        <div layout="row">
            <md-input-container>
                <label>Min</label>
                <input required type="number" name="hours-min" ng-model="$ctrl.position.hoursWeekMin" min="1"
                       max="48"/>
            </md-input-container>
            <md-input-container>
                <label>Max</label>
                <input required type="number" name="hours-max" ng-model="$ctrl.position.hoursWeekMax" min="2"
                       max="48"/>
            </md-input-container>
        </div>
    </div>
</div>
