<div layout-padding>
    <h3>Provide Advert Details</h3>
    <label class="standalone-label">Advert available from</label>
    <md-datepicker ng-model="$ctrl.promotionDate"
                   md-placeholder="Available from"
                   md-min-date="$ctrl.minPromotionDate"
                   md-max-date="$ctrl.maxPromotionDate"
                   md-open-on-focus></md-datepicker>
    <md-switch ng-model="$ctrl.promotionClosingDateEnable" class="md-primary" aria-label="All Research Students">
        Closing Date
    </md-switch>
    <div ng-if="$ctrl.promotionClosingDateEnable">
        <label class="standalone-label">Promotion Closing Date</label>
        <md-datepicker ng-model="$ctrl.promotionClosingDate"
                       md-placeholder="Closing date"
                       md-min-date="$ctrl.promotionDate"
                       md-max-date="$ctrl.maxPromotionDate"
                       md-open-on-focus></md-datepicker>
    </div>
    <div class="image-uploader background"
         ngf-pattern="'image/*'"
         ngf-accept="'image/*'"
         ngf-max-size="10MB"
         ngf-select
         ngf-drop
         name="background"
         layout="row" layout-align="center center" ng-model="$ctrl.position.documentBackgroundImageOriginal"
         ng-hide="$ctrl.position.documentBackgroundImageOriginal">
        <span class="drop-box" ng-if="!$ctrl.position.documentBackgroundImageOriginal">Drop your Background</span>
    </div>
    <div class="cropArea" ng-if="$ctrl.position.documentBackgroundImageOriginal">
        <img-crop image="$ctrl.position.documentBackgroundImageOriginal" area-type="rectangle" aspect-ratio="4.1"
                  result-image="$ctrl.position.documentBackgroundImage" result-image-size='{w: 1280,h: 320}'
                  init-max-area="true"></img-crop>

    </div>
    <div layout="row" layout-align="center center">
        <small>Minimum Image size 1280 x 320</small>
        <span class="flex"></span>
        <md-button class="md-warn md-raised small" ng-click="$ctrl.clearImage()"
                   ng-if="$ctrl.position.documentBackgroundImageOriginal">Clear Image
        </md-button>
    </div>
    <div ng-messages="$ctrl.form.background.$error" role="alert">
        <div ng-messages-include="general-messages"></div>
    </div>
</div>
<md-card class="text-editor">
    <md-card-title>
        <h3>Description</h3>
    </md-card-title>
    <md-card-content>
        <text-angular-toolbar
                name="positionDescriptionToolbar"
                ta-toolbar="[['h1','p'],['bold','italics','underline','clear'],['ul','ol'],['redo', 'undo']]">
        </text-angular-toolbar>
        <md-input-container class="md-block">
            <text-angular ng-model="$ctrl.position.description" rows="4" ta-target-toolbars="positionDescriptionToolbar" class="form-control md-input" aria-label="Description"></text-angular>
        </md-input-container>
    </md-card-content>
</md-card>
