<div layout-padding>
    <h3>Provide Advert Publication Details</h3>
    <label class="standalone-label">Advert available from</label>
    <md-datepicker ng-model="$ctrl.promotionDate"
                   md-placeholder="Available from"
                   md-min-date="$ctrl.minPromotionDate"
                   md-max-date="$ctrl.maxPromotionDate"
                   md-open-on-focus></md-datepicker>
    <md-switch ng-model="$ctrl.promotionClosingDateEnable" class="md-primary" aria-label="All Research Students">
        Closing Date
    </md-switch>
    <div ng-if="$ctrl.promotionClosingDateEnable">
        <label class="standalone-label">Advert Closing Date</label>
        <md-datepicker ng-model="$ctrl.promotionClosingDate"
                       md-placeholder="Closing date"
                       md-min-date="$ctrl.promotionDate"
                       md-max-date="$ctrl.maxPromotionDate"
                       md-open-on-focus></md-datepicker>
    </div>
    <md-switch ng-model="$ctrl.advertOutsideLink" class="md-primary" aria-label="All Research Students">
        Use my own recruitment software
    </md-switch>
    <div class="outside-link" ng-if="$ctrl.advertOutsideLink">
        <md-input-container class="md-block">
            <label class="md-no-float">Position URL <small>(http://yourposition.com )</small></label>
            <input type="url" name="url" ng-model="$ctrl.position.url" required>
            <div ng-messages="positionForm.position.url.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div class="documents">
        <label class="standalone-label">Document Support <small>(only pdf)</small></label>
        <md-button ngf-pattern=".pdf" ngf-select="upload($file)" class="md-warn md-raised">
            Upload PDF
        </md-button>
    </div>
</div>
