<div layout-padding>
    <h3>Provide Type, Title and Strapline of the advert</h3>
    <label class="standalone-label">Type of Position</label>
    <md-radio-group name="type" ng-required="true" ng-model="$ctrl.position.positionType" class="horizontal-form medium">
        <div class="radio-box-alined">
            <md-radio-button value="EMPLOYMENT" class="md-primary" checked="checked" ng-checked="true">
                Employment
            </md-radio-button>
            <md-radio-button value="PLACEMENT" class="md-primary">
                Placement
            </md-radio-button>
        </div>
    </md-radio-group>
    <md-input-container class="md-block">
        <label class="md-no-float">Title</label>
        <input name="divisionName" ng-model="$ctrl.position.name" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label class="md-no-float">Strapline</label>
        <textarea ng-model="$ctrl.position.summary" md-maxlength="140" rows="2" required></textarea>
    </md-input-container>
</div>
