@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700);

$font-family: 'Lato' !default;
$uclblue: #57ACD5 ;
$uclgreen: #35C2A3 ;
$uclred:#EA6651 ;
$uclfooter: #5A5D6F;

$facebook-color: #3b5998;
$linkedin-color: #4875B4;

$font-size: 1.6rem !default;

$button-border-radius:1.5px !default;

@import "../node_modules/angular-material/angular-material";

$simple-line-font-path        : "../node_modules/simple-line-icons/fonts/";
@import "../node_modules/simple-line-icons/scss/simple-line-icons";

@import "styles/general";
@import "app/general/dialog/dialog";
@import "app/general/header";
@import "app/general/footer";

@import "app/unauthenticated/login/login";
@import "app/unauthenticated/register/register";
