@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700);

$font-family: 'Lato' !default;
$uclblue: #57ACD5 ;
$uclgreen: #35C2A3 ;
$uclred:#EA6651 ;
$uclfooter: #5A5D6F;


$button-border-radius:1.5px !default;

@import "../node_modules/angular-material/angular-material";

@import "app/general/header";
@import "app/general/footer";
