<div layout-padding >
    <div class="general-tabs">
        <h3>Target your advert in Social Networks</h3>
        <div class="tab-container" flex layout="row">
            <div class="overview active" ng-click="$ctrl.changeTab(0, $event)" flex="25">
                <div layout-padding="">
                    <h4 class="facebook"><i class="icon-social-facebook"></i> Facebook</h4>
                    <p class="status-connected"><i class="icon-check"></i> Done</p>
                </div>
            </div>
            <div class="positions" ng-click="$ctrl.changeTab(1, $event)" flex="25">
                <div layout-padding="">
                    <h4 class="twitter"><i class="icon-social-twitter"></i> Twitter</h4>
                    <p class="status-connected"><i class="icon-exclamation"></i> Pending</p>
                </div>
            </div>
            <div class="positions" ng-click="$ctrl.changeTab(2, $event)" flex="25">
                <div layout-padding="">
                    <h4 class="linkedin"><i class="icon-social-linkedin"></i> Linkedin</h4>
                    <p class="status-connected"><i class="icon-exclamation"></i> Pending</p>
                </div>
            </div>
            <div class="positions" ng-click="$ctrl.changeTab(3, $event)" flex="25">
                <div layout-padding="">
                    <h4 class="email"><i class="icon-envelope"></i> Email</h4>
                    <p class="status-connected"><i class="icon-exclamation"></i> Pending</p>
                </div>
            </div>
        </div>
        <md-tabs md-dynamic-height md-selected="$ctrl.selectedIndex">
            <md-tab label="Facebook">
                <md-content>
                    <div class="connection-box">
                        <h3>Share your advert with Facebook</h3>
                        <md-input-container class="md-block">
                            <textarea name="advertSummary" ng-model="$ctrl.facebookText" md-maxlength="140" rows="2" required></textarea>
                        </md-input-container>
                        <md-button socialshare
                                   socialshare-via="{{$ctrl.facebookAppId}}"
                                   socialshare-provider="facebook"
                                   socialshare-type="feed"
                                   socialshare-description="{{$ctrl.facebookText}}"
                                   socialshare-text="TODO here title of advert"
                                   socialshare-hashtags="{{$ctrl.facebookHashtags}}"
                                   socialshare-url="http://local.prism.ucl.ac.uk:9000"
                                   aria-label="Share with Facebook"
                                   class="md-raised facebook">
                            <i class="icon-social-facebook"></i> Share with Facebook
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Twitter">
                <md-content>
                    <div class="connection-box">
                        <h3>Share your advert with Twitter</h3>
                        <md-input-container class="md-block">
                            <textarea name="advertSummary" ng-model="$ctrl.audience.socialShareText" md-maxlength="140" rows="2" required></textarea>
                        </md-input-container>
                        <md-button socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{$ctrl.dummyShare.text}}"
                                   socialshare-hashtags="{{$ctrl.dummyShare.hashtags}}"
                                   socialshare-url="{{$ctrl.dummyShare.url}}"
                                   aria-label="Share with Twitter"
                                   class="md-raised twitter">
                            <i class="icon-social-twitter"></i> Share with Twitter
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Linkedin">
                <md-content>
                    <div class="connection-box">
                        <h3>Connect with Linkedin to share your advert</h3>
                        <md-input-container class="md-block">
                            <textarea name="advertSummary" ng-model="$ctrl.audience.socialShareText" md-maxlength="140" rows="2" required></textarea>
                        </md-input-container>
                        <md-button socialshare
                                   socialshare-provider="linkedin"
                                   socialshare-text="{{$ctrl.dummyShare.text}}"
                                   socialshare-hashtags="{{$ctrl.dummyShare.hashtags}}"
                                   socialshare-url="{{$ctrl.dummyShare.url}}"
                                   socialshare-source="{{$ctrl.dummyShare.title}}"
                                   class="md-raised linkedin" aria-label="Share with Linkedin">
                            <i class="icon-social-linkedin"></i> Share with Linkedin
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Email">
                <md-content>
                    <h3>Send your advert by email to your contacts</h3>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
<div class="department-list" layout="row" layout-wrap layout-fill layout-align="start none">
    <div class="department-item " flex="100" flex-gt-xs="50">
        <md-card layout="column" layout-aling="space-between none" ng-class="{'active': data.select1}">
            <md-card-content flex>
                <md-card-title class="department-header" layout="row" layout-align="start start" >
                    <div class="logo-icon">
                        <div class="logo-image" layout="column" layout-align="center center">
                            <img ng-src="/img/prism-logo-default.png">
                        </div>
                    </div>
                    <div flex>
                        <h2>Biochemical Engineering</h2>
                        <h3>at UCL</h3>
                        <h4>London, UK</h4>
                    </div>
                    <div class="connection-display">
                        <i class="icon-check" ng-if="data.select1"></i>
                    </div>
                </md-card-title>
                <div class="department-summary" layout="row">
                    <div class="students-number" layout="column" layout-align="center center">
                        <i class="icon-people"></i>
                        <span>300 - 500</span>
                    </div>
                    <md-chips class="small students-type">
                        <md-chip>Undergraduates</md-chip><md-chip class="active">Master</md-chip><md-chip>Research</md-chip>
                    </md-chips>
                </div>
                <div class="department-tags">
                    <md-chips class="small">
                        <md-chip class="active">Biotechnology</md-chip>
                        <md-chip>Alternative Medicine</md-chip>
                        <md-chip class="active">Pharmaceuticals</md-chip>
                        <md-chip>Food & Beverages</md-chip>
                        <md-chip>Renewables & Environment</md-chip>
                        <md-chip>Research</md-chip>
                    </md-chips>
                </div>
            </md-card-content>
            <md-card-actions class="department-actions hidden" layout="row" layout-align="space-between none" style="display: none">
                <md-button class="md-default md-raised small">View</md-button>
                <md-checkbox class="md-primary" ng-model="data.select1" aria-label="Select">
                </md-checkbox>
            </md-card-actions>
        </md-card>
    </div>
    <div class="department-item " flex="100" flex-gt-xs="50">
        <md-card layout="column" layout-aling="space-between none" ng-class="{'active': data.select2}">
            <md-card-content flex>
                <md-card-title class="department-header" layout="row" layout-align="start start">
                    <div class="logo-icon">
                        <div class="logo-image" layout="column" layout-align="center center">
                            <img ng-src="/img/prism-logo-default.png">
                        </div>
                    </div>
                    <div flex>
                        <h2>Computer Science</h2>
                        <h3>at UCL</h3>
                        <h4>London, UK</h4>
                    </div>
                    <div class="connection-display">
                        <i class="icon-check" ng-if="data.select2"></i>
                    </div>
                </md-card-title>
                <div class="department-summary" layout="row">
                    <div class="students-number" layout="column" layout-align="center center">
                        <i class="icon-people"></i>
                        <span>1000+</span>
                    </div>
                    <md-chips class="small students-type">
                        <md-chip>Undergraduates</md-chip><md-chip class="active">Master</md-chip><md-chip>Research</md-chip>
                    </md-chips>
                </div>
                <div class="department-tags">
                    <md-chips class="small">
                        <md-chip class="active">Technology</md-chip>
                        <md-chip>Servers</md-chip>
                        <md-chip class="active">Nanotechnology</md-chip>
                    </md-chips>
                </div>
            </md-card-content>
            <md-card-actions class="department-actions" layout="row" layout-align="space-between none" style="display: none">
                <md-button class="md-default md-raised small">View</md-button>
                <md-checkbox class="md-primary" ng-model="data.select2" aria-label="Select">
                </md-checkbox>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div layout-padding>
    <h4>Others targeted Departments</h4>
    <md-list class="department-small">
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
    </md-list>
</div>
