<div layout-padding>
    <h3>Targeted University department</h3>
    <p>According to your interest areas, candidates selection and locations those are the targeted de the departments you want to promote your advert</p>
    <h4>Top targeted Departments</h4>
</div>
<div class="department-list" layout="row" layout-wrap layout-fill layout-align="start none">
    <div class="department-item " flex="100" flex-gt-xs="50">
        <md-card layout="column" layout-aling="space-between none" ng-class="{'active': data.select1}">
            <md-card-content flex>
                <md-card-title class="department-header" layout="row" layout-align="start start" >
                    <div class="logo-icon">
                        <div class="logo-image">
                            <div class="logo-flex company-logo">
                                <div class="logo">
                                    <img ngf-src="$ctrl.organization.documentLogoImage || '/img/prism-logo-default.png'" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex>
                        <h2>Biochemical Engineering</h2>
                        <h3>at UCL</h3>
                        <h4>London, UK</h4>
                    </div>
                    <div class="connection-display">
                        <i class="icon-check" ng-if="data.select1"></i>
                    </div>
                </md-card-title>
                <div class="department-summary" layout="row">
                    <div class="students-number" layout="column" layout-align="center center">
                        <i class="icon-people"></i>
                        <span>300 - 500</span>
                    </div>
                    <md-chips class="small students-type">
                        <md-chip>Undergraduates</md-chip><md-chip class="active">Master</md-chip><md-chip>Research</md-chip>
                    </md-chips>
                </div>
                <div class="department-tags">
                    <md-chips class="small">
                        <md-chip class="active">Biotechnology</md-chip>
                        <md-chip>Alternative Medicine</md-chip>
                        <md-chip class="active">Pharmaceuticals</md-chip>
                        <md-chip>Food & Beverages</md-chip>
                        <md-chip>Renewables & Environment</md-chip>
                        <md-chip>Research</md-chip>
                    </md-chips>
                </div>
            </md-card-content>
            <md-card-actions class="department-actions hidden" layout="row" layout-align="space-between none" style="display: none">
                <md-button class="md-default md-raised small">View</md-button>
                <md-checkbox class="md-primary" ng-model="data.select1" aria-label="Select">
                </md-checkbox>
            </md-card-actions>
        </md-card>
    </div>
    <div class="department-item " flex="100" flex-gt-xs="50">
        <md-card layout="column" layout-aling="space-between none" ng-class="{'active': data.select2}">
            <md-card-content flex>
                <md-card-title class="department-header" layout="row" layout-align="start start">
                    <div class="logo-icon">
                        <div class="logo-image">
                            <div class="logo-flex company-logo">
                                <div class="logo">
                                    <img ngf-src="$ctrl.organization.documentLogoImage || '/img/prism-logo-default.png'" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex>
                        <h2>Computer Science</h2>
                        <h3>at UCL</h3>
                        <h4>London, UK</h4>
                    </div>
                    <div class="connection-display">
                        <i class="icon-check" ng-if="data.select2"></i>
                    </div>
                </md-card-title>
                <div class="department-summary" layout="row">
                    <div class="students-number" layout="column" layout-align="center center">
                        <i class="icon-people"></i>
                        <span>1000+</span>
                    </div>
                    <md-chips class="small students-type">
                        <md-chip>Undergraduates</md-chip><md-chip class="active">Master</md-chip><md-chip>Research</md-chip>
                    </md-chips>
                </div>
                <div class="department-tags">
                    <md-chips class="small">
                        <md-chip class="active">Technology</md-chip>
                        <md-chip>Servers</md-chip>
                        <md-chip class="active">Nanotechnology</md-chip>
                    </md-chips>
                </div>
            </md-card-content>
            <md-card-actions class="department-actions" layout="row" layout-align="space-between none" style="display: none">
                <md-button class="md-default md-raised small">View</md-button>
                <md-checkbox class="md-primary" ng-model="data.select2" aria-label="Select">
                </md-checkbox>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div layout-padding>
    <h4>Others targeted Departments</h4>
    <md-list class="department-small">
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="department-item-small">
            <span class="department-title">Computer Science</span>
            <span class="department-university">at UCL</span>
            <span class="department-location" flex>London, UK</span>
            <span class="students-number"><i class="icon-people"></i><span>1000+</span></span>
        </md-list-item>
    </md-list>
    <div class="connection-decision">
        <label class="standalone-label"><strong>Do you want us to promote your advert to the above departments?</strong></label>
        <md-radio-group name="type" ng-required="true" ng-model="$ctrl.promotionType" class="horizontal-form medium">
            <div class="radio-box-alined">
                <md-radio-button value="true" class="md-primary" checked="checked" ng-checked="true">
                    Yes
                </md-radio-button>
                <md-radio-button value="false" class="md-primary">
                    No
                </md-radio-button>
            </div>
        </md-radio-group>
        <small>The advert will be promoted to future departments with the same criteria</small>
    </div>
</div>
