<div layout-padding>
    <h3>Set up your Audience</h3>
    <div class="audience">
        <label class="standalone-label">Audience</label>
        <div class="checkboxes-group">
            <div ng-repeat="pattern in $ctrl.patternValues">
                <md-checkbox class="md-primary" ng-checked="$ctrl.isPatternChecked(pattern, $ctrl.selected)"
                             ng-click="$ctrl.togglePattern(pattern, $ctrl.selected)">
                    {{'definitions.studentPattern.' + pattern | translate}}
                </md-checkbox>
            </div>
            <md-checkbox aria-label="Select All"
                         class="md-primary"
                         ng-checked="$ctrl.allPatternsChecked()"
                         md-indeterminate="$ctrl.anyPatternChecked()"
                         ng-click="$ctrl.toggleAllPatterns()">
                <span ng-show="$ctrl.allPatternsChecked()">Deselect All</span>
                <span ng-show="!$ctrl.allPatternsChecked()">Select All</span>
            </md-checkbox>
        </div>
    </div>
    <div class="industries-holder">
        <md-input-container class="md-block">
            <label class="md-no-float">Areas of Expertise</label>
            <md-chips ng-model="$ctrl.advert.tags"
                      md-transform-chip="$ctrl.transformTag($chip)">
                <md-autocomplete
                        md-search-text="searchText"
                        md-items="item in $ctrl.lookupTags(searchText)"
                        md-item-text="item.name"
                        placeholder="Find a tag or add a new one">
                    <span md-highlight-text="searchText">{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    {{$chip.tag.name}}
                </md-chip-template>
            </md-chips>
        </md-input-container>
    </div>
    <h4 class="standalone-label">University department list</h4>
    <p>Select the departments you want to promote your advert</p>
</div>
<div class="department-list" layout="row" layout-wrap layout-fill layout-align="start none">
    <div class="department-item " flex="100" flex-gt-xs="50">
        <md-card layout="column" layout-aling="space-between none" ng-class="{'active': data.select1}">
            <md-card-content flex>
                <md-card-title class="department-header" layout="row" layout-align="start start" >
                    <div class="logo-icon">
                        <div class="logo-image">
                            <div class="logo-flex company-logo">
                                <div class="logo">
                                    <img ngf-src="$ctrl.organization.documentLogoImage || '/img/prism-logo-default.png'" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex>
                        <h2>Biochemical Engineering</h2>
                        <h3>at UCL</h3>
                        <h4>London, UK</h4>
                    </div>
                    <div class="connection-display">
                        <i class="icon-check" ng-if="data.select1"></i>
                    </div>
                </md-card-title>
                <div class="department-summary" layout="row">
                    <div class="students-number" layout="column" layout-align="center center">
                        <i class="icon-people"></i>
                        <span>300 - 500</span>
                    </div>
                    <md-chips class="small students-type">
                        <md-chip>Undergraduates</md-chip><md-chip class="active">Master</md-chip><md-chip>Research</md-chip>
                    </md-chips>
                </div>
                <div class="department-tags">
                    <md-chips class="small">
                        <md-chip class="active">Biotechnology</md-chip>
                        <md-chip>Alternative Medicine</md-chip>
                        <md-chip class="active">Pharmaceuticals</md-chip>
                        <md-chip>Food & Beverages</md-chip>
                        <md-chip>Renewables & Environment</md-chip>
                        <md-chip>Research</md-chip>
                    </md-chips>
                </div>
            </md-card-content>
            <md-card-actions class="department-actions" layout="row" layout-align="space-between none">
                <md-button class="md-default md-raised small">View</md-button>
                <md-checkbox class="md-primary" ng-model="data.select1" aria-label="Select">
                </md-checkbox>
            </md-card-actions>
        </md-card>
    </div>
    <div class="department-item " flex="100" flex-gt-xs="50">
        <md-card layout="column" layout-aling="space-between none" ng-class="{'active': data.select2}">
            <md-card-content flex>
                <md-card-title class="department-header" layout="row" layout-align="start start">
                    <div class="logo-icon">
                        <div class="logo-image">
                            <div class="logo-flex company-logo">
                                <div class="logo">
                                    <img ngf-src="$ctrl.organization.documentLogoImage || '/img/prism-logo-default.png'" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex>
                        <h2>Computer Science</h2>
                        <h3>at UCL</h3>
                        <h4>London, UK</h4>
                    </div>
                    <div class="connection-display">
                        <i class="icon-check" ng-if="data.select2"></i>
                    </div>
                </md-card-title>
                <div class="department-summary" layout="row">
                    <div class="students-number" layout="column" layout-align="center center">
                        <i class="icon-people"></i>
                        <span>1000+</span>
                    </div>
                    <md-chips class="small students-type">
                        <md-chip>Undergraduates</md-chip><md-chip class="active">Master</md-chip><md-chip>Research</md-chip>
                    </md-chips>
                </div>
                <div class="department-tags">
                    <md-chips class="small">
                        <md-chip class="active">Technology</md-chip>
                        <md-chip>Servers</md-chip>
                        <md-chip class="active">Nanotechnology</md-chip>
                    </md-chips>
                </div>
            </md-card-content>
            <md-card-actions class="department-actions" layout="row" layout-align="space-between none">
                <md-button class="md-default md-raised small">View</md-button>
                <md-checkbox class="md-primary" ng-model="data.select2" aria-label="Select">
                </md-checkbox>
            </md-card-actions>
        </md-card>
    </div>
</div>
<md-card-actions layout-align="end start" layout="row">
    <md-button class="md-warn md-raised">Select all Departments</md-button>
</md-card-actions>
