<div layout-padding>
    <h3>Set up you Audience</h3>
    <div class="industries-holder">
        <md-input-container class="md-block">
            <label class="md-no-float">Areas of Expertise</label>
            <md-chips ng-model="$ctrl.advert.tags"
                      md-transform-chip="$ctrl.transformTag($chip)">
                <md-autocomplete
                        md-search-text="searchText"
                        md-items="item in $ctrl.lookupTags(searchText)"
                        md-item-text="item.name"
                        placeholder="Find a tag or add a new one">
                    <span md-highlight-text="searchText">{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    {{$chip.tag.name}}
                </md-chip-template>
            </md-chips>

        </md-input-container>
    </div>
    <div class="audience">
        <label class="standalone-label">Audience</label>
        <md-switch ng-model="$ctrl.studentsTypeAll" class="md-primary" aria-label="All Students">
            All Students
        </md-switch>
        <div class="sub-audience" ng-if="!$ctrl.studentsTypeAll">
            <div layout="row">
                <md-switch ng-model="$ctrl.studentsUndergraduateAll" class="md-primary" aria-label="All Undergraduate Students">
                    All Undergraduate Students
                </md-switch>
            </div>
            <div layout="row">
                <md-switch ng-model="$ctrl.studentsMastersAll" class="md-primary" aria-label="All Masters Students">
                    All Masters Students
                </md-switch>
            </div>
            <div layout="row">
                <md-switch ng-model="$ctrl.studentsResearchAll" class="md-primary" aria-label="All Research Students">
                    All Research Students
                </md-switch>
            </div>
        </div>
    </div>
</div>
