<background-uploader ng-model="$ctrl.advert.documentBackgroundImage"></background-uploader>
<div class="position-box" layout="row" layout-align="center end">
    <md-card class="position-box-header" layout="column" layout-gt-xs="row" flex-gt-sm="75">
        <div class="logo-image">
            <div class="logo-flex company-logo">
                <div class="logo">
                    <img ng-src="{{$ctrl.advert.organizationImplementation.documentLogoImage.cloudinaryUrl || '/img/prism-logo-default.png'}}"/>
                </div>
            </div>
        </div>
        <div class="position-item">
            <div class="position-header" layout="row" layout-align="start center">
                <h2>{{$ctrl.advert.name}}</h2>
                <span flex></span>
                <label class="badge">{{'definitions.positionWorkCategory.'+$ctrl.advert.category | translate}}</label>
            </div>
            <div class="position-subheader" layout="row" layout-align="start center">
                <h4>{{$ctrl.advert.organizationImplementation.organization.name}}</h4>
            </div>
            <div class="position-summary">
                <div class="availability">
                    {{'definitions.positionContract.' + $ctrl.advert.positionContract | translate}}
                    <span ng-if="$ctrl.advert.positionContract === 'FIXED_TERM'"> - {{$ctrl.advert.positionDurationMinimum}} Months Min</span>
                    -
                    <span class="position-patterns">
                        <span ng-repeat="contract in $ctrl.advert.positionWorkPatterns">
                            {{'definitions.positionWorkPattern.' + contract.positionWorkPattern | translate}}
                        </span>
                    </span>
                </div>
                <div class="salary">
                    <span ng-if="$ctrl.advert.positionSalary === 'RANGE'">
                        <span ng-if="$ctrl.advert.positionSalaryMinimum">From {{$ctrl.advert.positionSalaryMinimum}}</span>
                        <span ng-if="$ctrl.advert.positionSalaryMaximum">to {{$ctrl.advert.positionSalaryMaximum}}</span>
                        <span ng-if="$ctrl.advert.positionSalaryCurrency">{{$ctrl.advert.positionSalaryCurrency}}</span>
                        <span ng-if="$ctrl.advert.positionSalaryInterval">a {{'definitions.positionInterval.' + $ctrl.advert.positionSalaryInterval | translate}}</span>
                    </span>
                    <span ng-if="$ctrl.advert.positionSalary === 'COMPETITIVE'">
                        Competitive Salary
                    </span>
                    <span ng-if="$ctrl.advert.positionSalary === 'NONE'">
                        No Salary
                    </span>
                    <span ng-if="$ctrl.advert.positionBenefits.length > 0">+ Benefits</span>
                </div>
                <div class="closing-date" ng-if="$ctrl.advert.timestampPublicationClose"> Closing Date:
                    {{$ctrl.advert.timestampPublicationClose | date}}
                </div>
                <div class="closing-date" ng-if="!$ctrl.advert.timestampPublicationClose"> No Closing Date</div>
                <div class="location">
                    <span ng-repeat="location in $ctrl.advert.locations">
                    {{location.location.name}}
                    </span>
                </div>
            </div>
            <div class="position-features">
                <div class="posted"><i class="icon-calendar"></i> Posted 5 days ago</div>
                <div class="views"><i class="icon-people"></i> 0 views</div>
            </div>
            <div class="position-actions" layout="row" layout-align="start center">
                <md-button type="submit" class="md-primary md-raised apply ">
                    <i class="icon-paper-plane"></i> Apply Now
                </md-button>
                <span class="flex"></span>
                <div class="lock-size">
                    <md-fab-speed-dial md-direction="down" class="md-scale" md-open="$ctrl.isOpen">
                        <md-fab-trigger>
                            <md-button aria-label="Share" class="md-fab md-warn md-mini">
                                <i class="icon-share"></i>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Share with Facebook"
                                       class="md-fab md-raised md-mini facebook">
                                <i class="icon-social-facebook"></i>
                            </md-button>
                            <md-button aria-label="Share with Twitter" class="md-fab md-raised md-mini twitter">
                                <i class="icon-social-twitter"></i>
                            </md-button>
                            <md-button aria-label="Share with Linkedin"
                                       class="md-fab md-raised md-mini linkedin">
                                <i class="icon-social-linkedin"></i>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
        </div>
    </md-card>
</div>
