<div layout-padding>
    <h3>Provide Locations and the description of your advert </h3>
    <div layout="row">
        <md-input-container flex="100">
            <label class="md-no-float">Strapline</label>
            <textarea name="advertSummary" ng-model="$ctrl.advert.summary" md-maxlength="500" rows="3" required></textarea>
            <div ng-messages="$ctrl.form.advertSummary.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
    </div>
</div>
<div class="text-editor">
    <md-card>
        <md-card-title>
            <h3>Description</h3>
        </md-card-title>
        <md-card-content>
            <text-angular-toolbar
                    name="advertDescriptionToolbar"
                    ta-toolbar="[['h1','p'],['bold','italics','underline','clear'],['ul','ol'],['redo', 'undo']]">
            </text-angular-toolbar>
            <md-input-container class="md-block">
                <text-angular ng-model="$ctrl.advert.description" rows="4" ta-target-toolbars="advertDescriptionToolbar"
                              class="form-control md-input" aria-label="Description"></text-angular>
            </md-input-container>
        </md-card-content>
    </md-card>
</div>
<div layout-padding>
    <div class="locations" layout="row">
        <md-input-container flex="100">
            <label class="md-no-float">Locations</label>
            <place-autocomplete ng-model="$ctrl.advert.locations" name="foundAddress"
                                placeholder="{{'create.advert.address-lookup.autocomplete-placeholder' | translate}}" required>
            </place-autocomplete>
            <div ng-messages="$ctrl.form.foundAddress.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
    </div>
    <label class="standalone-label"><strong>Recruitment mechanism</strong></label>
    <md-radio-group name="type" ng-required="true" ng-model="$ctrl.advertOutsideLink" class="medium">
        <div class="radio-box-column">
            <md-radio-button ng-value="false" class="md-primary">
                Receive applications in BigFoot
            </md-radio-button>
            <md-radio-button ng-value="true" class="md-primary">
                Direct applicants to my own recruitment page
            </md-radio-button>
        </div>
    </md-radio-group>
    <div class="outside-link" ng-if="$ctrl.advertOutsideLink">
        <md-input-container class="md-block">
            <label class="md-no-float">Advert URL
                <small>(http://youradvert.com)</small>
            </label>
            <input type="url" http-prefix name="websiteApply" ng-model="$ctrl.advert.websiteApply" required>
            <div ng-messages="$ctrl.form.websiteApply.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
        <div class="documents" layout="row" layout-align="start center">
            <md-button name="fileSupport" ngf-accept="'application/pdf'" ngf-select="upload($file)" class="md-warn md-raised small">
                Document (PDF)
            </md-button>
            <md-chips>
                <md-chip>Support file.pdf</md-chip>
            </md-chips>
        </div>
    </div>
</div>

