<div layout-padding>
    <h3>Provide a Candidate Specification</h3>

    <suggested-tags resource="$ctrl.advert" form="$ctrl.wizard.form" label="Areas of Expertise"></suggested-tags>

    <label class="standalone-label">Audience</label>
    <div layout="row">
        <md-checkbox ng-repeat="category in $ctrl.definitions.qualificationCategory"
                     md-no-ink aria-label="{{'definitions.qualificationCategory.' + category | translate}}"
                     ng-checked="$ctrl.categoriesHelper.isChecked(category)"
                     ng-click="$ctrl.categoriesHelper.toggle(category)"
                     class="md-primary">
            {{'definitions.qualificationCategory.' + category | translate}}
        </md-checkbox>
        <md-checkbox aria-label="Select All"
                     class="md-primary"
                     ng-checked="$ctrl.categoriesHelper.allChecked()"
                     md-indeterminate="$ctrl.categoriesHelper.anyChecked()"
                     ng-click="$ctrl.categoriesHelper.toggleAll()">
            <span ng-show="$ctrl.categoriesHelper.allChecked()">Deselect All</span>
            <span ng-show="!$ctrl.categoriesHelper.allChecked()">Select All</span>
        </md-checkbox>
    </div>
</div>
