<div layout-padding>
    <h3>Provide Industries Areas and Students Audience</h3>

    <div class="industries-holder">
        <md-input-container class="md-block">
            <label class="md-no-float">Industry Areas</label>
            <md-chips ng-model="$ctrl.advert.tags"
                      md-transform-chip="$ctrl.transformTag($chip)">
                <md-autocomplete
                        md-search-text="searchText"
                        md-items="item in $ctrl.lookupTags(searchText)"
                        md-item-text="item.name"
                        placeholder="Find a tag or add a new one">
                    <span md-highlight-text="searchText">{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    {{$chip.tag.name}}
                </md-chip-template>
            </md-chips>

        </md-input-container>
    </div>
    <div class="audience">
        <label class="standalone-label">Audience</label>
        <md-switch ng-model="$ctrl.studentsTypeAll" class="md-primary" aria-label="All Students">
            All Students
        </md-switch>
        <div class="sub-audience" ng-if="!$ctrl.studentsTypeAll">
            <div layout="row">
                <md-switch ng-model="$ctrl.studentsUndergraduateAll" class="md-primary" aria-label="All Undergraduate Students">
                    All Undergraduate Students
                </md-switch>
                <md-input-container ng-if="!$ctrl.studentsUndergraduateAll">
                    <label>Undergraduate students</label>
                    <md-select ng-model="undergraduateStudents" multiple >
                        <md-option ng-value="studentType.name" ng-repeat="studentType in $ctrl.studiesTypes | filter: {category: 'Undergraduate Students' }">{{studentType.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-switch ng-model="$ctrl.studentsMastersAll" class="md-primary" aria-label="All Masters Students">
                    All Masters Students
                </md-switch>
                <md-input-container ng-if="!$ctrl.studentsMastersAll">
                    <label>Masters students</label>
                    <md-select ng-model="mastersStudents" multiple>
                        <md-option ng-value="studentType.name" ng-repeat="studentType in $ctrl.studiesTypes | filter: {category: 'Masters Students' }">{{studentType.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-switch ng-model="$ctrl.studentsResearchAll" class="md-primary" aria-label="All Research Students">
                    All Research Students
                </md-switch>
                <md-input-container ng-if="!$ctrl.studentsResearchAll">
                    <label>Research students</label>
                    <md-select ng-model="researchStudents" multiple>
                        <md-option ng-value="studentType.name" ng-repeat="studentType in $ctrl.studiesTypes | filter: {category: 'Research Students' }">{{studentType.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
</div>
