<div layout-padding>
    <h3>Title, type of advert and your role on it </h3>

    <md-input-container class="md-block">
        <label class="md-no-float">Title</label>
        <input name="advertName" ng-model="$ctrl.advert.name" required>
        <div ng-messages="$ctrl.form.advertName.$error" role="alert">
            <div ng-messages-include="general-messages"></div>
        </div>
    </md-input-container>

    <div ng-if="false">
        <label class="standalone-label">Type of Advert</label>
        <md-radio-group name="type" ng-required="true" ng-model="$ctrl.promotionType" class="horizontal-form medium">
            <div class="radio-box-alined">
                <md-radio-button value="advert" class="md-primary" checked="checked" ng-checked="true">
                    Advert
                </md-radio-button>
                <md-radio-button value="EVENT" class="md-primary">
                    Event
                </md-radio-button>
            </div>
        </md-radio-group>
    </div>

    <label class="standalone-label">Type of advert</label>
    <md-radio-group name="type" ng-required="true" ng-model="$ctrl.advert.category" class="horizontal-form medium">
        <div class="radio-box-alined">
            <md-radio-button value="EMPLOYMENT" class="md-primary" checked="checked" ng-checked="true">
                Employment
            </md-radio-button>
            <md-radio-button value="PLACEMENT" class="md-primary">
                Placement
            </md-radio-button>
        </div>
    </md-radio-group>

    <label class="standalone-label">Advertise</label>
    <md-radio-group name="isRecruiter" ng-model="$ctrl.isRecruiter"  ng-change="$ctrl.isRecruiterChanged($ctrl.isRecruiter)"
                    class="medium">
        <div class="radio-box-column">
            <md-radio-button flex ng-value="false" class="md-primary">
                Using my company
                <small>I am an Employer and I will manage and promote my adverts</small>
            </md-radio-button>
            <md-radio-button ng-value="true" class="md-primary">
                Using another company
                <small>I am a Recruiter or Career Services and I want to display the company I'm advertising for</small>
            </md-radio-button>
        </div>
    </md-radio-group>
    <div class="payment-plan"></div>
</div>
