<div class="text-editor">
    <md-card>
        <md-card-title>
            <h3>Description</h3>
        </md-card-title>
        <md-card-content>
            <text-angular-toolbar
                    name="advertDescriptionToolbar"
                    ta-toolbar="[['h1','p'],['bold','italics','underline','clear'],['ul','ol'],['redo', 'undo']]">
            </text-angular-toolbar>
            <md-input-container class="md-block">
                <text-angular ng-model="$ctrl.advert.description" rows="4" ta-target-toolbars="advertDescriptionToolbar"
                              class="form-control md-input" aria-label="Description"></text-angular>
            </md-input-container>
        </md-card-content>
    </md-card>
</div>
<div layout-padding>
    <md-switch ng-model="$ctrl.advertOutsideLink" class="md-primary" aria-label="All Research Students">
        Use my own recruitment mechanism
    </md-switch>
    <div class="outside-link" ng-if="$ctrl.advertOutsideLink">
        <md-input-container class="md-block">
            <label class="md-no-float">Advert URL
                <small>(http://youradvert.com)</small>
            </label>
            <input type="url" name="websiteApply" ng-model="$ctrl.advert.websiteApply" required>
            <div ng-messages="$ctrl.form.websiteApply.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
        <div class="documents" layout="row" layout-align="start center">
            <md-button name="fileSupport" ngf-accept="'application/pdf'" ngf-select="upload($file)" class="md-warn md-raised small">
                Document (PDF)
            </md-button>
            <md-chips>
                <md-chip>Support file.pdf</md-chip>
            </md-chips>
        </div>
    </div>
</div>

