<div layout-padding>
    <label class="standalone-label">Promotion options</label>
    <div layout="row" class="type-duration">
        <md-radio-group name="type" ng-required="true" ng-model="$ctrl.advert.positionContract"
                        class="horizontal-form medium">
            <div class="radio-box-alined">
                <md-radio-button ng-repeat="contract in $ctrl.definitions.positionContract" ng-value="contract"
                                 class="md-primary"
                                 aria-label="{{'definitions.positionContract.' + contract | translate}}">
                    {{'definitions.positionContract.' + contract | translate}}
                </md-radio-button>
            </div>
        </md-radio-group>
        <div class="fixed-term-duration" ng-if="$ctrl.advert.positionContract === 'FIXED_TERM'">
            <md-input-container>
                <label>Months Min</label>
                <input required type="number" name="duration-min" ng-model="$ctrl.advert.durationMin" min="1"
                       max="23"/>
            </md-input-container>
        </div>
    </div>
    <div class="checkboxes-group">
        <div ng-repeat="pattern in $ctrl.patternValues">
            <md-checkbox class="md-primary" ng-checked="$ctrl.isPatternChecked(pattern, $ctrl.selected)"
                         ng-click="$ctrl.togglePattern(pattern, $ctrl.selected)">
                {{'definitions.positionWorkPattern.' + pattern | translate}}
            </md-checkbox>
        </div>
        <md-checkbox aria-label="Select All"
                     class="md-primary"
                     ng-checked="$ctrl.allPatternsChecked()"
                     md-indeterminate="$ctrl.anyPatternChecked()"
                     ng-click="$ctrl.toggleAllPatterns()">
            <span ng-show="$ctrl.allPatternsChecked()">Deselect All</span>
            <span ng-show="!$ctrl.allPatternsChecked()">Select All</span>
        </md-checkbox>
    </div>
    <div class="hours-week-duration"
         ng-if="$ctrl.selected.indexOf('Part Time') !== -1 || $ctrl.selected.indexOf('Flexible') !== -1">
    </div>

    <label class="standalone-label">Advert available from</label>
    <md-datepicker ng-model="$ctrl.promotionDate"
                   md-placeholder="Available from"
                   md-min-date="$ctrl.minPromotionDate"
                   md-max-date="$ctrl.maxPromotionDate"
                   md-open-on-focus></md-datepicker>
    <md-switch ng-model="$ctrl.promotionClosingDateEnable" class="md-primary" aria-label="All Research Students">
        Closing Date
    </md-switch>
    <div ng-if="$ctrl.promotionClosingDateEnable">
        <label class="standalone-label">Advert Closing Date</label>
        <md-datepicker ng-model="$ctrl.promotionClosingDate"
                       md-placeholder="Closing date"
                       md-min-date="$ctrl.promotionDate"
                       md-max-date="$ctrl.maxPromotionDate"
                       md-open-on-focus></md-datepicker>
    </div>
</div>
