<div layout-padding>
    <h3>Provide Type, Title and Strapline of the advert</h3>

    <md-input-container class="md-block">
        <label class="md-no-float">Summary</label>
        <textarea name="advertSummary" ng-model="$ctrl.advert.summary" md-maxlength="500" rows="2" required></textarea>
        <div ng-messages="$ctrl.form.advertSummary.$error" role="alert">
            <div ng-messages-include="general-messages"></div>
        </div>
    </md-input-container>
    <div class="locations" layout="row">
        <md-input-container class="md-block">
            <label class="md-no-float">Locations</label>
            <place-autocomplete ng-model="$ctrl.advert.locations" name="foundAddress"
                                placeholder="{{'create.advert.address-lookup.autocomplete-placeholder' | translate}}" required>
            </place-autocomplete>
            <div ng-messages="$ctrl.form.foundAddress.$error" role="alert">
                <div ng-messages-include="general-messages"></div>
            </div>
        </md-input-container>
    </div>
</div>
