<div layout-padding>
    <h3>Provide Type, Title and Strapline of the advert</h3>
    <md-input-container class="md-block">
        <label class="md-no-float">Title</label>
        <input name="advertName" ng-model="$ctrl.advert.name" required>
        <div ng-messages="$ctrl.form.advertName.$error" role="alert">
            <div ng-messages-include="general-messages"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label class="md-no-float">Strapline</label>
        <textarea name="advertSummary" ng-model="$ctrl.advert.summary" md-maxlength="140" rows="2" required></textarea>
        <div ng-messages="form.advertSummary.$error" role="alert">
            <div ng-messages-include="general-messages"></div>
        </div>
    </md-input-container>

    <div class="locations">
        <place-autocomplete ng-model="$ctrl.advert.location" name="foundAddress"
                            placeholder="{{'create.advert.address-lookup.autocomplete-placeholder' | translate}}" required>
        </place-autocomplete>
    </div>
</div>
