<ion-view title="Browse" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div id="browse-button-bar7" class=" button-bar ">
            <button id="browse-button25" class=" button button-stable button-small button-block ">All</button>
            <button id="browse-button28" class=" button button-assertive button-small button-block ">Positions</button>
            <button id="browse-button26" class=" button button-positive button-small button-block ">Events</button>
        </div>
        <div class="list card border-top opportunity" id="browse-card21">
            <ion-item class="item-avatar assertive  " id="browse-list-item1">
                <img src="img/1wTTUcAPTWSfqVeG42nY_ucl-logo.jpg">
                <h2assertive>Web Developer
                    <p>Technical University of Madrid</p>
                </h2assertive>
            </ion-item>
            <div class=" item item-image">
                <img src="img/G6hFwrRdSmW4WA65WizI_ucl-demo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="browse-list-item-container1">
                <p id="browse-markdown3" style="margin-top:0px;color:#000000;" class=" ">Responsible for devising, writing and running testing software in C/C++ to characterize the performance and functionality of next-gen storage system hardware. An experimental approach is needed to determine how to approach this problem,
                    and the tests are expected to generate large amounts of functional and performance</p>
                <button id="browse-button20" class=" button button-balanced  button-block ">Apply now</button>
            </div>
        </div>
        <div class="list card border-top event" id="browse-card22">
            <ion-item class="item-avatar positive  " id="browse-list-item4">
                <img src="img/vZSetfDMRhKRxOROKJp0_870.png">
                <h2positive>Meet ectalent inc.
                    <p>At UCL Engeneering</p>
                </h2positive>
            </ion-item>
            <div class=" item item-image">
                <img src="img/G6hFwrRdSmW4WA65WizI_ucl-demo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="browse-list-item-container2">
                <p id="browse-markdown1" style="margin-top:0px;color:#000000;" class=" ">Ectalent INC wants to meet you An experimental approach is needed to determine how to approach this problem, and the tests are expected to generate large amounts of functional and performance</p>
                <button id="browse-button21" class=" button button-positive  button-block ">Attend to this event</button>
            </div>
        </div>
        <div class="list card border-top message" id="browse-card23">
            <ion-item class="item-avatar balanced  " id="browse-list-item5">
                <img src="img/kqeE4zluQ527YGHN1ZDt_2c09657.jpg">
                <h2balanced>Message from
                    <p>UCL Engeneering</p>
                </h2balanced>
            </ion-item>
            <div class="item item-body " id="browse-list-item-container3">
                <p id="browse-markdown2" style="margin-top:0px;color:#000000;" class=" ">Responsible for devising, writing and running testing software in C/C++ to characterize the performance and functionality of next-gen storage system hardware. An experimental approach is needed to determine how to approach this problem,
                    and the tests are expected to generate large amounts of functional and performance</p>
                <div id="browse-button-bar4" class=" button-bar ">
                    <button id="browse-button22" class=" button button-balanced  button-block ">Replay</button>
                    <button id="browse-button23" class=" button button-assertive  button-block ">Archive</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>