<ion-modal-view>
  <ion-header-bar class="bar bar-header">
    <h1 class="title">Department</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <input ng-model="department" type="text" placeholder="Search">
      </label>
      <button class="button button-full button-positive" ng-click="selectDepartment()">Select</button>
    </div>
  </ion-content>
</ion-modal-view>
