<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page5" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding">
        <form id="login-form1" class="list ">
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <div class="">
                <img src="img/prism_blue.png" width="140" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h4 id="login-heading1" style="color:#000000;font-weight:400;text-align:center;" class=" ">Sign in</h4>
            <div class="grid-content btn-content">
              <div class="row">
                <div class="col"><button id="register-button18" class=" button button-positive  button-block icon ion-social-facebook fb-btn"> Facebook</button></div>
                <div class="col"><button id="register-button19" class=" button button-positive  button-block icon ion-social-linkedin ld-btn"> Linkedin</button></div>
              </div>
            </div>
            <h5 id="login-heading2" style="color:#000000;font-weight:400;text-align:center;" class=" ">or</h5>
            <ion-list id="login-list1" class=" ">
                <label class="item item-input item-stacked-label " id="login-input1" name="username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="login-input2" name="password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="tabsController.browse" id="login-button4" class=" button button-assertive  button-block ">Log in</a>
            <button ui-sref="password" id="login-button8" style="font-size:14px;text-align:right;" class=" button button-assertive button-small button-clear ">Forgot password?</button>
        </form>
        <form id="login-form3" class="list ">
            <h4 id="login-heading3" style="color:#000000;font-weight:400;text-align:center;" class=" ">Register</h4>
            <label class="item item-input item-stacked-label " id="login-input6">
                <input type="email" placeholder="Email">
            </label>
            <a ui-sref="register" id="login-button14" class=" button button-assertive  button-block button-outline ">Create an account</a>
        </form>
    </ion-content>
</ion-view>
