<ion-view title="Password" hide-nav-bar="true" hide-back-button="true" style="background-color:#FFFFFF;" class=" ">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <form id="login-form1" class="list ">
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <div class="">
        <img src="img/CB64WQU7ROm3cEjjqWDa_prism_blue.png" width="140" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="login-heading1" style="color:#000000;font-weight:400;text-align:center;" class=" ">Recover your password</h4>
      <ion-list id="login-list1" class=" ">
        <label class="item item-input item-stacked-label" name="Email">
          <input type="text" placeholder="Email">
        </label>
      </ion-list>
      <a class=" button button-assertive  button-block ">Recover Password</a>
      <button ui-sref="login" style="font-size:14px;text-align:right;" class=" button button-assertive button-small button-clear ">Back to Login</button>
    </form>
  </ion-content>
</ion-view>
