<ion-view title="Take picture" hide-nav-bar="true" class=" ">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="profile-holder">
      <div class="profile-picture">
        <img src="img/kqeE4zluQ527YGHN1ZDt_2c09657.jpg">
      </div>
    </div>
    <button ng-click="takePicture()" class="button button-block button-primary">Take Photo</button>

    <div class="padding">
      <button class="button button-block button-positive icon-right ion-chevron-right" ng-disabled="!imp.text" ng-click="update(obj)">Upload</button>
    </div>
  </ion-content>
</ion-view>


