<ion-view title="Take picture" hide-nav-bar="true" class=" ">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button ng-click="takePicture()" class="button button-block button-primary">Take Photo</button>
    <img ng-src="{{lastPhoto}}" style="max-width: 100%">
    <div class="padding">
      <button class="button button-block button-positive icon-right ion-chevron-right" ng-disabled="!imp.text" ng-click="update(obj)">Upload</button>
    </div>
  </ion-content>
</ion-view>


