<ion-view title="University and Department" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="universityAndDepartment-heading7" style="color:#000000;text-align:center;" class=" ">Welcome to PRiSM</h3>
        <p id="universityAndDepartment-markdown5" style="color:#000000;" class=" ">To notify you about the best positions and events that suit your career we need to connect you to your university department before we can proceed</p>
        <ion-list id="universityAndDepartment-list4" class=" ">
            <label class="item item-input " id="universityAndDepartment-input9" name="university">
                <input type="text" placeholder="University">
            </label>
            <label class="item item-input " id="universityAndDepartment-input10" name="department">
                <input type="text" placeholder="Department">
            </label>
        </ion-list>
        <a ui-sref="tabsController.browse" id="universityAndDepartment-button17" class=" button button-assertive  button-block ">Confirm Department</a>
    </ion-content>
</ion-view>