
md-toolbar.ucl-footer.md-prism-theme:not(.md-menu-toolbar) {
  background: $uclfooter;
}
footer {
  .prism-icon {
    height: 40px;
    float: left;
    width: auto;
    img {
      height: 100%;
    }
  }
}