
<md-toolbar class="md-toolbar-tools">
    <h1>Activities </h1>
    <span flex=""></span>
    <span class="label">5</span>
    <md-button class="md-icon-button" ng-click="close()" aria-label="Cancel" hide-gt-md>
        <i class="icon-close"></i>
    </md-button>
</md-toolbar>
<md-content layout-padding class="activities">
    <md-list-item class="md-3-line" ng-click="null">
        <span class="md-avatar icon-envelope"></span>
        <div class="md-list-item-text" layout="column">
            <h3>Juan Mingo</h3>
            <h4>New position</h4>
            <p>I'll be in your neighborhood ...</p>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/2c09657.jpg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
            <h3>Juan Mingo</h3>
            <h4>New position</h4>
            <p>I'll be in your neighborhood ...</p>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/2c09657.jpg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
            <h3>Juan Mingo</h3>
            <h4>New position</h4>
            <p>I'll be in your neighborhood ...</p>
        </div>
    </md-list-item>
</md-content>