<div>
    <md-toolbar class="md-toolbar-tools header">
        <div>
            <a class="prism-logo" ui-sref="welcome">
                <img src="/img/logo-nico.svg" alt="BigFoot">
            </a>
        </div>
        <span flex=""></span>
        <md-button class="md-icon-button" ng-click="$ctrl.close()" aria-label="Cancel" hide-gt-md>
            <i class="icon-close"></i>
        </md-button>
    </md-toolbar>
    <div class="user-block employer" layout="row" layout-align="center center">
        <div class="user-details" layout="row" layout-align="start center">
            <div class="avatar-holder employer">
                <img ng-src="{{$ctrl.authService.user.documentImage.cloudinaryUrl}}"
                     class="md-avatar" alt="{{$ctrl.authService.user.firstName}} {{$ctrl.authService.user.lastName}}"
                     ng-if="$ctrl.authService.user.documentImage">
                <div ng-if="!$ctrl.authService.user.documentImage" class="no-user-image" layout="row"
                     layout-align="center center">
                    <i class="icon-user"></i>
                </div>
            </div>
            <div class="contact-container" layout="column">
                <a href="#">{{$ctrl.authService.user.firstName}} {{$ctrl.authService.user.lastName}}</a>
                <span>{{$ctrl.authService.user.role}} TODO user Role</span>
            </div>
        </div>
        <span flex></span>
        <md-button class="md-icon-button md-raised notifications" ui-sref="activities">
            <i class="icon-bell"></i>
            <label>5</label>
        </md-button>
        <md-button class="md-icon-button md-raised notifications">
            <i class="icon-envelope"></i>
            <label>3</label>
        </md-button>
    </div>
</div>
<md-content class="main-menu" flex>
    <md-list flex>
        <md-subheader>
            <div layout="row" layout-align="start center">
                <sapn>Menu</sapn>
                <div class="search-holder fade-animation" ng-if="$ctrl.searchBox">
                    <md-input class="small" >
                        <input placeholder="Search">
                    </md-input>
                </div>
                <span class="flex"></span>
                <md-button class="md-icon-button" aria-label="Search" ng-click="$ctrl.searchBoxToggle()">
                    <md-icon class="icon-magnifier" ng-if="!$ctrl.searchBox"></md-icon>
                    <md-icon class="icon-close" ng-if="$ctrl.searchBox"></md-icon>
                </md-button>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon class="icon-options-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="2" class="small">
                        <md-menu-item>
                            <md-button ng-click="ctrl.new($index)"><i class="icon-home"></i> New Company</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.new($index)"><i class="icon-briefcase"></i> New Position</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.new($index)"><i class="icon-organization"></i> New Department
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.new($index)"><i class="icon-notebook"></i> New Contact</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-subheader>
        <md-list-item ng-click="navigateTo('candidates', $event)">
            <i class="icon-people"></i>
            <p>Candidates</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('contacts', $event)">
            <i class="icon-notebook"></i>
            <p>Contacts</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('applications', $event)">
            <i class="icon-paper-plane"></i>
            <p>Applications</p>
            <span class="badge">2</span>
        </md-list-item>
        <md-list-item ng-click="$ctrl.toggleSubmenu('adverts', $event)">
            <i class="icon-briefcase"></i>
            <p>Adverts <i class="icon-arrow-down"></i></p>
            <span class="badge" ng-bind="$ctrl.session.employments.length"></span>
        </md-list-item>
        <div flex class="submenu submenu-adverts">
            <md-list-item ng-repeat="employment in $ctrl.session.employments" ng-click=""
                          ui-sref="advert.summary({id: employment.accessCode})" ui-sref-active="active"
                          aria-label="{{employment.name}}">
                <i class="icon-briefcase"></i>
                <p ng-bind="employment.name"></p>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon class="icon-options-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="2" class="small">
                        <md-menu-item>
                            <md-button ng-click="ctrl.new($index)"
                                       ui-sref="audience.summary({id: employment.accessCode})">
                                <i class="icon-people"></i>Audience
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </div>
        <md-list-item ng-click="$ctrl.toggleSubmenu('departments', $event)">
            <i class="icon-organization"></i>
            <p>Departments <i class="icon-arrow-down"></i></p>
            <span class="badge" ng-bind="$ctrl.session.departments.length"></span>
        </md-list-item>
        <div flex class="submenu submenu-departments">
            <md-list-item ng-repeat="department in $ctrl.session.departments" ng-click=""
                          ui-sref="department.summary({id: department.accessCode})" ui-sref-active="active"
                          aria-label="{{department.name}}">
                <i class="icon-home"></i>
                <p ng-bind="department.name"></p>
            </md-list-item>
        </div>
        <md-list-item ng-click="$ctrl.toggleSubmenu('promoters', $event)">
            <i class="icon-home"></i>
            <p>Companies <i class="icon-arrow-down"></i></p>
            <span class="badge" ng-bind="$ctrl.session.promoters.length"></span>
        </md-list-item>
        <div flex class="submenu submenu-promoters">
            <md-list-item ng-repeat="promoter in $ctrl.session.promoters" ng-click=""
                          ui-sref="promoter.summary({id: promoter.accessCode})" ui-sref-active="active"
                          aria-label="{{promoter.name}}">
                <i class="icon-home"></i>
                <p ng-bind="promoter.name"></p>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon class="icon-options-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="2" class="small">
                        <md-menu-item>
                            <md-button ui-sref="advert.summary({id: 'new', organization: promoter.accessCode})">
                                <i class="icon-briefcase"></i>New Position
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.new($index)">
                                <i class="icon-organization"></i>New Department
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </div>
        <md-list-item ng-click="navigateTo('system', $event)">
            <i class="icon-wrench"></i>
            <p>System</p>
        </md-list-item>
    </md-list>
</md-content>
<md-toolbar class="md-toolbar-tools ucl-footer">
    <md-list flex>
        <md-list-item ng-click="$ctrl.logout()" aria-label="Log out">
            <i class="icon-logout"></i> Log out
        </md-list-item>
    </md-list>
</md-toolbar>


